@using Transfer.Utility;
@using Transfer.Enum;
@{
    ViewBag.Menu = "A5Main";
    ViewBag.SubMenu = "A52AuditSub";
    ViewBag.Title = "A52-信評主標尺對應檔複核";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" id="main">
    <div class="row main_hand">
        <div class="col-md-12 main_hand_div">
            <form id="myForm">
                <table>
                    <tr>
                        <td colspan="2">
                            <input type="button" class="btn btn-primary" style="" value="查詢待複核項目" id="btnA52AuditSearch" />
                        </td>
                    </tr>
                    <tr >
                        <td style="width:360px; " class="form-group">
                            <label>選取要匯出的複核時間&emsp; : </label>
                            @Html.DropDownList("Auditdate",
                           (SelectList)ViewBag.Auditdate,
                            new { @class = "form-control", @style = "display:inline-block" })
                        </td>
                        <td style="width:360px;">
                            <input type="button" class="btn btn-primary dlexcel" style="margin-top:5px;" value="匯出複核結果" id="btnA52AuditDl" />
                        </td>
                    </tr>
                </table>
            </form>
        <i class="fa fa-exclamation-circle title" style="font-size:24px;"
           alt="說明：查詢僅顯示待複核資料
"></i>
        </div>
    </div>
    您登入的帳號：<span>@ViewBag.UserAccount</span>
    <br />
    此功能相關的權限 : <span>@ViewBag.Authority</span>
    <div class="row main_body" style="overflow:auto;height:100%">
        <div class="col-md-12">
            <div class="viewDetail">
                <div id="jqgridDiv" class="jqd">
                </div>
            </div>
        </div>
    </div>
    <div id="A52AuditDialog"  style="display:none">
        <div>
            <table style="width:100%">
                <tr>
                    <td style="width:15%">
                        <label>複核結果&emsp;: </label>
                    </td>
                    <td style="width:20%">
                        @Html.DropDownList("Status",
                           (SelectList)ViewBag.Status,
                            new { @class = "form-control", @style = "display:inline-block" })
                    </td>
                    <td style="width:15%;padding-left:10px;" >
                        <label>複核意見&emsp;: </label>
                    </td>
                    <td style="width:50%">
                        <textarea id="A52TextArea" maxlength="255" style="overflow-y: scroll; white-space:pre-wrap;max-width:100%;width:100%;height:100px;"></textarea>
                    </td>
                    <td>
                        <input type="hidden" id="hiddenID"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top:10px;">
                        <input type="button" id="btnSave" class="btn btn-primary" value="確認" disabled/>
                    </td>
                    <td colspan="3" style="text-align:right;padding-top:10px;">
                        <input type="button" id="btnCancel" class="btn btn-primary" value="取消" />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="A52AuditDialog2"  style="display:none">
        <div id="jqgridDiv2" class="jqd">
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        //#region 註冊URL
        var url = {};
        url.getDate = '@Url.Action("GetA52Auditdate", "A5")'
        url.search = '@Url.Action("GetA52AuditData", "A5")';
        url.A52Audit = '@Url.Action("A52Aduit", "A5")';
        url.getDbData = '@Url.Action("GetCacheData", "A5")';
        url.getA52AuditExcel = '@Url.Action("GetA52AuditExcel", "A5")';
        url.getA52RatingOrg = '@Url.Action("GetA52RatingOrg", "A5")';
        //#endregion 註冊URL

        if ( '@ViewBag.Authority' == '@Ref.Authority_Type.Auditor.GetDescription()') {
            $('#btnSave').prop('disabled', false);
        }

        //#region 註冊click事件
        $('input:button').each(function () {
            var id = $(this).attr('id');
            switch (id) {
                case 'btnA52AuditSearch':
                    $('#' + id).on('click', function () { A52AuditSearch(null) });
                    break;
                case 'btnA52AuditDl':
                    $('#' + id).click(A52AuditDlExcel);
                    break;
            }
        })
        //#endregion 註冊click事件

        function A52AuditSearch(flag) {
            clearJqgrid('jqgridDiv');
            $.ajax({
                type: "POST",
                dataType: "json",
                url: url.search,
                contentType: 'application/json',
            })
            .done(function (result) {
                if (result.RETURN_FLAG) {
                    createJqgrid("list1","pager1");
                }
                else
                    if (flag == 'Audit')
                        customerUtility.alert('已全部複核完成', 'w');
                    else
                        customerUtility.alert(result.DESCRIPTION,'e');
            })
        }

        function A52AuditDlExcel() {
            $.ajax({
                type: "POST",
                url: url.getA52AuditExcel,
                data: JSON.stringify({
                    Audit_date: $('#Auditdate').val(),
                }),
                contentType: 'application/json',
            })
            .done(function (result) {
                if (result.RETURN_FLAG)
                    window.location.href = "@Url.RouteUrl(new
                    { Controller = "A5", Action = "DownloadExcel"})/?type=" + '@Ref.Excel_DownloadName.A52Audit.ToString()';
                else
                    customerUtility.alert(result.DESCRIPTION,'e');
            })
        }


        //#region clearJqgrid (清除JqGrid)
        function clearJqgrid(divId) {
            $('#' + divId).children().remove();
        }
        //#endregion clearJqgrid



        function A52FormatterAction(cellvalue, options, rdata)
        {
            var str = '';
            if ('@ViewBag.Authority' == '@Ref.Authority_Type.Auditor.GetDescription()') {
                str += "<a href='#' class='openDialog Dialog1' style='padding-right:20px;text-decoration:underline;' return:false; id='" + options.gid + "Select" + options.rowId + "' title='選取'>選取</a>";
            }
            str += "<a href='#' class='openDialog Dialog2' style='text-decoration:underline;' return:false; id='" + options.gid + "View" + options.rowId + "' title='檢視'>檢視</a>";
            return str;
        }

        function createJqgrid2(listId, pagerId)
        {
            var colModelArray = [
            { name: "Rating_Org", index: "Rating_Org", align: 'left' },
            { name: "PD_Grade", index: "PD_Grade", align: 'left' },
            { name: "Rating", index: "Rating", align: 'left' },
            { name: "IsActive", index: "IsActive", align: 'left' },
            { name: "Change_Status", index: "Change_Status", align: 'left' },
            { name: "Status", index: "Status", align: 'left' },
            ];
            var colNameArray = [
                       '評等機構',
                       '評等主標尺_原始',
                       '評等內容',
                       '是否有效',
                       '資料異動狀態',
                       '複核結果',
            ];
            $('#jqgridDiv2').append('<table id="' + listId + '"></table>');
            $('#jqgridDiv2').append('<div id="' + pagerId + '"></div>');
            $("#" + listId).jqGrid({
                url: url.getDbData,
                datatype: "json",
                mtype: "POST",
                postData:
                {
                    type: 'A52AduitDetail',
                },
                jsonReader:
                {
                    repeatitems: false,
                },
                colNames: colNameArray,
                colModel: colModelArray,
                rowNum: 10, //一頁筆數
                rowList: [10,20,30], //設定一頁幾筆
                pager: '#' + pagerId,
                height: '300',
                width: '920',
                sortorder: "desc",
                caption: '@Ref.Table_Type.A52.tableNameGetDescription()', //標題
                viewrecords: true,
                resizable: false,
                shrinkToFit: false,
                autoencode: true,
                viewsortcols: [true, 'vertical', true],
                ajaxRowOptions: { contentType: "application/json" },
                serializeRowData: function (data) {
                    return JSON.stringify(data);
                },
                loadComplete: function () {
                    var table = $(this);
                    jqgridCustom.updatePagerIcons(table);
                }
            });
            $("#" + listId).jqGrid('navGrid', '#' + pagerId, { edit: false, add: false, del: false });
        }

        //#region createJqgrid (建立JqGrid套件)
        //listId (Jqgrid產生table的ID)
        //pagerId (下方產生筆數的ID)
        function createJqgrid(listId, pagerId) {
            var colModelArray = [
                        { name: "Action", index: "Action", width: 100, sortable: false, formatter: A52FormatterAction },
                        { name: "Rating_Org", index: "Rating_Org", align: 'left' },
                        { name: "PD_Grade", index: "PD_Grade", align: 'left' },
                        { name: "Rating", index: "Rating", align: 'left' },
                        { name: "IsActive", index: "IsActive", align: 'left' },
                        { name: "Change_Status", index: "Change_Status", align: 'left' },
                        { name: "Editor", index: "Editor", align: 'left' },
                        { name: "Processing_Date", index: "Processing_Date", align: 'left' },
                        { name: "Auditor", index: "Auditor", align: 'left' },
                        { name: "Status", index: "Status", align: 'left' },
                        { name: "Auditor_Reply", index: "Auditor_Reply", align: 'left' },
                        { name: "Audit_date", index: "Audit_date", align: 'left' },
                        { name: "Id", index: "Id", align: 'left', hidden: true },
            ];

            var colNameArray = [
                                   'Actions',
                                   '評等機構',
                                   '評等主標尺_原始',
                                   '評等內容',
                                   '是否有效',
                                   '資料異動狀態',
                                   '編輯者',
                                   '資料處理時間',
                                   '複核者',
                                   '複核結果',
                                   '複核者意見',
                                   '複核時間',
                                   'ID'
            ];
                $('#jqgridDiv').append('<table id="' + listId + '"></table>');
                $('#jqgridDiv').append('<div id="' + pagerId + '"></div>');
                $("#" + listId).jqGrid({
                    url: url.getDbData,
                    datatype: "json",
                    mtype: "POST",
                    postData:
                    {
                        type: 'A52Aduit',
                    },
                    jsonReader:
                    {
                        repeatitems: false,
                    },
                    colNames: colNameArray,
                    colModel: colModelArray,
                     rowNum: jqgridCustom.rowNum(), //一頁筆數
                    rowList: jqgridCustom.rowList(), //設定一頁幾筆
                    pager: '#' + pagerId,
                    height: jqgridCustom.getHeight(),
                    width: jqgridCustom.getwidth(),
                    sortorder: "desc",
                    caption: '@Ref.Table_Type.A52.tableNameGetDescription()', //標題
                    viewrecords: true,
                    resizable: false,
                    shrinkToFit: false,
                    autoencode: true,
                    viewsortcols: [true, 'vertical', true],
                    ajaxRowOptions: { contentType: "application/json" },
                    serializeRowData: function (data) {
                        return JSON.stringify(data);
                    },
                    loadComplete: function () {
                        var table = $(this);
                        jqgridCustom.updatePagerIcons(table);
                        $('#' + listId + ' > tbody > tr:gt(0) ').each(function () {
                            let tr = $(this);
                            let Rating_Org = tr.find($.validator.format('td[aria-describedby$={0}_Rating_Org]', listId)).text();
                            let ID = tr.find($.validator.format('td[aria-describedby$={0}_Id]', listId)).text();
                            tr.find('td').find('a.Dialog1').each(function () {
                                $(this).off('click');
                                $(this).on('click', function () {
                                    A52Dialog1Open(ID);
                                }); //註冊複核者之回覆意見
                            });
                            tr.find('td').find('a.Dialog2').each(function () {
                                $(this).off('click');
                                $(this).on('click', function () {
                                    A52Dialog2Open(Rating_Org);
                                });  //開啟評估結果檔
                            });
                        });
                    }
                });
                $("#" + listId).jqGrid('navGrid', '#' + pagerId, { edit: false, add: false, del: false });
        }
        //#endregion createJqgrid

        function A52Dialog1Open(ID)
        {
            var dialogId = 'A52AuditDialog';
            $('#hiddenID').val(ID);
            $("#" + dialogId).dialog({
                title: '複核',
                position: { my: "top+10%", at: "center top", of: window },
                width: '800px',
                autoOpen: false,
                resizable: false,
                closeText: "取消",
                modal: true
            });
            $('#Status').val('1');
            $('#A52TextArea').val('');
            $("#" + dialogId).dialog("open");
            $('#btnCancel').off('click');
            $('#btnCancel').on('click', function () {
                $("#" + dialogId).dialog("close");
            });
            $('#btnSave').off('click');
            $('#btnSave').on('click', function () {
                var ID = $('#hiddenID').val();
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        ID: ID,
                        Status:  $('#Status').val(),
                        Auditor_Reply: $('#A52TextArea').val()
                    }),
                    dataType: "json",
                    url: url.A52Audit,
                    contentType: 'application/json'
                })
                .done(function (result) {
                    if (result.RETURN_FLAG) {
                        setA52AuditDate();
                        customerUtility.alert(result.DESCRIPTION, 's');
                        $("#" + dialogId).dialog("close");
                        A52AuditSearch('Audit');
                    }
                    else
                        customerUtility.alert(result.DESCRIPTION, 'e');
                });

            });
        }

        function A52Dialog2Open(Rating_Org)
        {
            clearJqgrid('jqgridDiv2');
            var dialogId = 'A52AuditDialog2';
            $("#" + dialogId).dialog({
                title: '檢視',
                position: { my: "top+10%", at: "center top", of: window },
                width: '960px',
                autoOpen: false,
                resizable: false,
                closeText: "取消",
                modal: true
            });
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    ratingOrg: Rating_Org
                }),
                dataType: "json",
                url: url.getA52RatingOrg,
                contentType: 'application/json'
            })
            .done(function (result) {
                if (result.RETURN_FLAG) {
                    createJqgrid2("list2", "pager2");
                }
                $("#" + dialogId).dialog("open");
            });
        }

        function setA52AuditDate()
        {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: url.getDate,
                contentType: 'application/json'
            })
            .done(function (result) {
                var selectId = 'Auditdate';
                if (result.length > 0)
                {
                    $("#" + selectId + " option").remove();
                    customerUtility.addoption(selectId, result);
                }
            });
        }
    });
</script>