@{
    ViewBag.Menu = "D6Main";
    ViewBag.SubMenu = "B06LoanSub";
    ViewBag.Title = "B06Loan(前瞻性調整參數-房貸)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" id="main">
    <div class="row main_hand">
        <div class="col-md-12 main_hand_div">
            <form id="myForm1">
                <table>
                    <tr>
                        <td style="white-space:nowrap;text-align:right">
                            資料處理日期：
                        </td>
                        <td style="white-space:nowrap" colspan="5">
                            <input type="text" id="Processing_Date" name="Processing_Date" maxlength="10">
                            <label> ~&ensp;</label>
                            <input type="text" id="to" name="to">
                        </td>
                    </tr>
                    <tr>
                        <td style="white-space:nowrap;text-align:right">
                            專案名稱：
                        </td>
                        <td style="white-space:nowrap">
                            @Html.DropDownList("PRJID",
                             (SelectList)ViewBag.PRJID,
                              new { @class = "form-control", @style = "display:inline-block" })
                        </td>
                        <td style="white-space:nowrap;text-align:right;padding-left:20px">
                            流程名稱：
                        </td>
                        <td style="white-space:nowrap">
                            @Html.DropDownList("FLOWID",
                             (SelectList)ViewBag.FLOWID,
                              new { @class = "form-control", @style = "display:inline-block" })
                        </td>
                        <td style="white-space:nowrap;text-align:right;padding-left:20px">
                            元件名稱：
                        </td>
                        <td style="white-space:nowrap">
                            @Html.DropDownList("CompID",
                             (SelectList)ViewBag.CompID,
                              new { @class = "form-control", @style = "display:inline-block" })
                        </td>
                    </tr>
                </table>
            </form>
            <table style="margin-top:20px">
                <tr>
                    <td>
                        <input type="button" class="btn btn-primary" value="查詢" id="btnSearch" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" value="重設" id="btnReset" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" id="btnAdd" value="新增" />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row main_body" style="overflow:auto;height:100%;">
        <div class="col-md-12">
            <div class="viewDetail">
                <div id="jqgridDiv" class="jqd">
                </div>
            </div>
        </div>
    </div>

    <div id="dialogEdit" title="">
        <input type="hidden" id="actionType" value="" />
        <table style="width:100%">
            <tr id="trCPD_Segment_Code">
                <td style="white-space:nowrap; text-align:right">
                    使用CPD群組之代碼：
                </td>
                <td style="white-space:nowrap">
                    <span id="spanCPD_Segment_Code"></span>
                </td>
            </tr>
            <tr>
                <td style="white-space:nowrap; text-align:right">
                    CPD調整參數：
                </td>
                <td style="white-space:nowrap">
                    <input type="text" name="editDelta_Q" id="editDelta_Q">
                </td>
            </tr>
            <tr id="trProcessing_Date">
                <td style="white-space:nowrap; text-align:right">
                    資料處理日期：
                </td>
                <td style="white-space:nowrap">
                    <span id="spanProcessing_Date"></span>
                </td>
            </tr>
            <tr id="trPRJID">
                <td style="white-space:nowrap; text-align:right">
                    專案名稱：
                </td>
                <td style="white-space:nowrap">
                    <span id="spanPRJID"></span>
                </td>
            </tr>
            <tr id="trFLOWID">
                <td style="white-space:nowrap; text-align:right">
                    流程名稱：
                </td>
                <td style="white-space:nowrap">
                    <span id="spanFLOWID"></span>
                </td>
            </tr>
            <tr id="trCompID">
                <td style="white-space:nowrap; text-align:right">
                    元件名稱：
                </td>
                <td style="white-space:nowrap">
                    <span id="spanCompID"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="white-space:nowrap; text-align:center">
                    <input type="button" id="btnSave" value="儲存" />
                    &nbsp;&nbsp;
                    <input type="button" id="btnDelete" value="刪除" />
                    &nbsp;&nbsp;
                    <input type="button" id="btnCancel" value="關閉" />
                </td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        //#region 註冊URL
        var url = {};
        url.getPRJID = '@Url.Action("GetB06PRJID", "B0")';
        url.getFLOWID = '@Url.Action("GetB06FLOWID", "B0")';
        url.getCompID = '@Url.Action("GetB06CompID", "B0")';
        url.getAllData = '@Url.Action("GetB06AllData", "B0")';
        url.getDbData = '@Url.Action("GetCacheB06Data", "B0")';
        url.getData = '@Url.Action("GetB06Data", "B0")';
        url.saveData = '@Url.Action("SaveB06", "B0")';
        url.deleteData = '@Url.Action("DeleteB06", "B0")';
        //#endregion 註冊URL

        var productCode = "loan";

        //#region 產生datepicker
        //created.createDatepicker('Processing_Date', false, null);
        created.createDatepickerRange('Processing_Date', 'to', false); //startid,endid,是不是reportDate
        //#endregion

        //#region
        function getPRJID(componentID) {
            $("#" + componentID + " option").remove();
            $("#" + componentID).append("<option value=''> </option>");

            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    productCode: productCode
                }),
                dataType: "json",
                async: false,
                url: url.getPRJID,
                contentType: 'application/json'
            })
            .done(function (result) {
                if (result.length > 0) {
                    var data = result.split(',');
                    for (var i = 0; i < data.length; i++) {
                        $("#" + componentID).append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                    }
                }
            });

            $("#PRJID").change();
        }
        //#endregion

        //#region
        $('#PRJID').on('change', function () {
            getFLOWID("FLOWID", $("#PRJID").val());
            getCompID("CompID", $("#PRJID").val(), $("#FLOWID").val());
        });
        //#endregion

        //#region
        function getFLOWID(componentID, prjid) {
            $("#" + componentID + " option").remove();
            $("#" + componentID).append("<option value=''> </option>");

            if (prjid != "") {
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        productCode: productCode,
                        prjid: prjid
                    }),
                    dataType: "json",
                    async: false,
                    url: url.getFLOWID,
                    contentType: 'application/json'
                })
                .done(function (result) {
                    if (result.length > 0) {
                        var data = result.split(',');
                        for (var i = 0; i < data.length; i++) {
                            $("#" + componentID).append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                        }
                    }
                })
            }
        }
        //#endregion

        //#region
        $('#FLOWID').on('change', function () {
            getCompID("CompID", $("#PRJID").val(), $("#FLOWID").val());
        });
        //#endregion

        //#region
        function getCompID(componentID, prjid, flowid) {
            $("#" + componentID + " option").remove();
            $("#" + componentID).append("<option value=''> </option>");

            if (prjid != "" && flowid != "") {
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        productCode: productCode,
                        prjid: prjid,
                        flowid: flowid
                    }),
                    dataType: "json",
                    async: false,
                    url: url.getCompID,
                    contentType: 'application/json'
                })
                .done(function (result) {
                    if (result.length > 0) {
                        var data = result.split(',');
                        for (var i = 0; i < data.length; i++) {
                            $("#" + componentID).append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                        }
                    }
                });
            }
        }
        //#endregion

        //#region 註冊click事件
        $('input:button').each(function () {
            var id = $(this).attr('id');
            switch (id) {
                case 'btnReset':
                    $("#" + id).on('click', function () { SearchReset(); });
                    break;
                case 'btnSearch':
                    $("#" + id).on('click', function () { SearchData(); });
                    break;
                case 'btnAdd':
                    $("#" + id).on('click', function () { AddData(); });
                    break;
                case 'btnSave':
                    $("#" + id).on('click', function () { SaveData(); });
                    break;
                case 'btnDelete':
                    $("#" + id).on('click', function () { DeleteData(); });
                    break;
                case 'btnCancel':
                    $("#" + id).on('click', function () { $("#dialogEdit").dialog("close"); });
                    break;
            }
        })
        //#endregion

        //#region SearchReset
        function SearchReset() {
            $('#Processing_Date').val("");
            $('#to').val("");
            $('#PRJID').val("");
            $('#FLOWID').val("");
            $('#CompID').val("");
        }
        //#endregion

        //#region SearchData
        function SearchData() {
            var processingDate = $('#Processing_Date').val().trim();
            var to = $('#to').val().trim();
            var prjid = $('#PRJID').val().trim();
            var flowid = $('#FLOWID').val().trim();
            var compID = $('#CompID').val().trim();

            if (processingDate != "") {
                if (verified.isDate(processingDate, false) == false) {
                    alert("資料處理日期 錯誤 (yyyy/MM/dd)");
                    return false;
                }
            }

            var obj = {
                Processing_Date: processingDate,
                to : to,
                Product_Code: productCode,
                PRJID: prjid,
                FLOWID: flowid,
                CompID: compID
            };

            showJqgrid("2", obj);
        }
        //#endregion

        //#region 去controller 撈取資料並且用JqGrid套件顯示
        function showJqgrid(type, obj) {
            clearJqgrid();

            var title = ''; //標頭
            var urlString = "";

            title = '@ViewBag.Title';

            switch (type) {
                case "1":
                    urlString = url.getAllData;
                    break;
                case "2":
                    urlString = url.getData;
                    break;
            }

            $.ajax({
                type: "POST",
                data: obj,
                url: urlString
            })
            .done(function (result) {
                if (result.RETURN_FLAG) {
                    createJqgrid("list1", "pager1", title);
                }
                else {
                    alert(result.DESCRIPTION);
                }
            });
        }
        //#endregion

        //#region clearJqgrid (清除JqGrid)
        function clearJqgrid() {
            $('#jqgridDiv').children().remove();
        }
        //#endregion clearJqgrid

        //#region createJqgrid (建立JqGrid套件)
        //listId (Jqgrid產生table的ID)
        //pagerId (下方產生筆數的ID)
        //title (標題)
        function createJqgrid(listId, pagerId, title) {
            var colModelArray = [
                                    { name: "act", index: "act", width: 80, sortable: false },
                                    { name: "CPD_Segment_Code", index: "CPD_Segment_Code", align: 'left'},
                                    { name: "Delta_Q", index: "Delta_Q", align: 'left'},
                                    { name: "Processing_Date", index: "Processing_Date", align: 'left'},
                                    { name: "Product_Code", index: "Product_Code", align: 'left'},
                                    { name: "PRJID", index: "PRJID", align: 'left', width:300},
                                    { name: "FLOWID", index: "FLOWID", align: 'left', width: 300 },
                                    { name: "CompID", index: "CompID", align: 'left', width: 200 }
                                ];

            var colNameArray = [
                                   '',
                                   '使用CPD群組之代碼',
                                   'CPD調整參數',
                                   '資料處理日期',
                                   '產品/群組编號',
                                   '專案名稱',
                                   '流程名稱',
                                   '元件名稱'
                               ];

            $('#jqgridDiv').append('<table id="' + listId + '"></table>');
            $('#jqgridDiv').append('<div id="' + pagerId + '"></div>');

            $("#" + listId).jqGrid({
                url: url.getDbData,
                datatype: "json",
                mtype: "POST",
                postData:
                {
                },
                jsonReader:
                {
                    repeatitems: false,
                },
                colModel: colModelArray,
                colNames: colNameArray,
                rowNum: jqgridCustom.rowNum(), //一頁筆數
                rowList: jqgridCustom.rowList(), //設定一頁幾筆
                pager: '#' + pagerId,
                height: jqgridCustom.getHeight(),
                sortorder: "desc",
                caption: title, //標題
                resizable: false,
                autowidth: true,
                shrinkToFit: false,
                viewsortcols: [true, 'vertical', true],
                viewrecords: true,
                loadComplete: function () {
                    var table = $(this);
                    jqgridCustom.updatePagerIcons(table);
                    jqgridCustom.randerAction(listId, 'GridData', actfun);
                    $(".actionEditIcon").hide();
                }
            });

            $("#" + listId).jqGrid('navGrid', '#' + pagerId, { edit: false, add: false, del: false });
        }
        //#endregion createJqgrid

        //#region AddData
        function AddData() {
            SetAction("Add", null, "新增");
        }
        //#endregion

        //#region
        var actfun = {};
        actfun.Edit = function(i)
        {
            SetAction("Modify", i, "修改");
        }
        actfun.View = function(i)
        {
            SetAction("View", i, "檢視");
        }
        actfun.Dele = function(i)
        {
            SetAction("Delete", i, "刪除");
        }
        //#endregion

        //#region SetAction
        function SetAction(actionType, rowid, dialogTitle) {
            $("#actionType").val(actionType);

            $("#dialogEdit").dialog({
                title: dialogTitle,
                position: { my: "center", at: "center", of: window },
            });

            if (actionType == "Add") {
                $('#spanCPD_Segment_Code').html("");
                $('#editDelta_Q').val("");
                $('#spanProcessing_Date').html("");
                $('#spanPRJID').html("");
                $('#spanFLOWID').html("");
                $('#spanCompID').html("");

                $('#trCPD_Segment_Code').hide();
                $('#trProcessing_Date').hide();
                $('#trPRJID').hide();
                $('#trFLOWID').hide();
                $('#trCompID').hide();
            }
            else {
                var data = $("#list1").getRowData(rowid);

                $('#spanCPD_Segment_Code').html(data.CPD_Segment_Code);
                $('#editDelta_Q').val(data.Delta_Q);
                $('#spanProcessing_Date').html(data.Processing_Date);
                $('#spanPRJID').html(data.PRJID);
                $('#spanFLOWID').html(data.FLOWID);
                $('#spanCompID').html(data.CompID);

                $('#trCPD_Segment_Code').show();
                $('#trProcessing_Date').show();
                $('#trPRJID').show();
                $('#trFLOWID').show();
                $('#trCompID').show();
            }

            $('#editDelta_Q').prop('disabled', true);

            switch (actionType) {
                case "Add":
                case "Modify":
                    $('#editDelta_Q').prop('disabled', false);

                    if (actionType == "Modify") {
                        $('#editDelta_Q').prop('disabled', true);
                    }

                    $('#btnSave').show();
                    $('#btnDelete').hide();
                    break;
                case "View":
                    $('#btnSave').hide();
                    $('#btnDelete').hide();

                    break;
                case "Delete":
                    $('#btnSave').hide();
                    $('#btnDelete').show();

                    break;
            }

            $("#dialogEdit").dialog("open");
        }
        //#endregion

        //#region 取得全部資料
        function GetAllData() {
            var obj = {
                Product_Code: productCode
            };

            showJqgrid("1", obj);
        }
        //#endregion

        //#region dialogEdit
        $("#dialogEdit").dialog({
            autoOpen: false,
            resizable: true,
            height: 'auto',
            width: 'auto',
            modal: true,
            title: '',
            position: { my: "center", at: "center", of: window },
            closeText: "取消",
            resizable: true,
        });
        //#endregion

        //#region SaveData
        function SaveData() {
            var actionType = $('#actionType').val();

            var deltaQ = $('#editDelta_Q').val().trim();

            if (deltaQ == "") {
                alert("CPD調整參數 必填");
                return false;
            }
            else {
                if (isNaN(deltaQ)) {
                    alert("CPD調整參數 必須為數字");
                    return false;
                }
            }

            var obj = {
                Delta_Q: deltaQ,
                Product_Code: productCode
            };

            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    actionType: actionType,
                    dataModel: obj
                }),
                dataType: "json",
                url: url.saveData,
                contentType: 'application/json'
            })
            .done(function (result) {
                if (result.RETURN_FLAG) {
                    alert(result.DESCRIPTION);
                    $("#dialogEdit").dialog("close");
                    getPRJID("PRJID");
                    SearchReset();
                    GetAllData();
                }
                else {
                    alert(result.DESCRIPTION);
                }
            });
        }
        //#endregion

        //#region DeleteData
        function DeleteData() {
            if (confirm("確定刪除？")) {
                var obj = {
                    Processing_Date: $('#spanProcessing_Date').html(),
                    Product_Code: productCode,
                    PRJID: $('#spanPRJID').html(),
                    FLOWID: $('#spanFLOWID').html(),
                    CompID: $('#spanCompID').html()
                };

                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        dataModel: obj
                    }),
                    dataType: "json",
                    url: url.deleteData,
                    contentType: 'application/json'
                })
                .done(function (result) {
                    if (result.RETURN_FLAG) {
                        alert(result.DESCRIPTION);
                        $("#dialogEdit").dialog("close");
                        getPRJID("PRJID");
                        SearchReset();
                        GetAllData();
                    }
                    else {
                        alert(result.DESCRIPTION);
                    }
                });
            }
        }
        //#endregion
    });
</script>