@using Transfer.Utility;
@using Transfer.Enum;
@{
    ViewBag.Menu = "D6Main";
    ViewBag.SubMenu = "D65AssesmentSub";
    ViewBag.Title = "質化指標需求資訊檔";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" id="main">
    <div class="row main_hand">
        <div class="col-md-12 main_hand_div" style="height:185px">
            <form id="myForm">
                <table>
                    <tr>
                        <td style="width:550px;">
                            <label>選擇動作 : </label>
                            @Html.DropDownList("action",
                           (SelectList)ViewBag.action,
                            new { @class = "form-control", @style = "display:inline-block;" })
                        </td>
                        <td class="action search">
                            <label>評估次分類 : </label>
                            @Html.DropDownList("assessmentSubKind",
                            (SelectList)ViewBag.assessmentSubKinds,
                             new { @class = "form-control", @style = "display:inline-block;" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:550px; padding-top:5px;" class="form-group">
                            <label>報導日 : </label>&emsp;
                            <input type="text" id="datepicker" name="datepicker">
                        </td>
                        <td class="action search" style="width:400px; padding-top:5px;">
                            <label>債券編號 : </label>&emsp;
                            <input type="text" id="bondNumber" name="bondNumber">
                        </td>
                    </tr>
                    <tr class="action search">
                        <td style="padding-top:5px;">
                            <label>評估狀態 : </label>
                            @Html.DropDownList("index",
                            (SelectList)ViewBag.flag,
                             new { @class = "form-control", @style = "display:inline-block;" })
                        </td>
                        <td class="action search" style="width:400px; padding-top:5px;">
                            <label>帳戶編號 : </label>&emsp;
                            <input type="text" id="referenceNbr" name="referenceNbr">
                        </td>
                    </tr>
                    <tr class="action search">
                        <td style="padding-top:5px;" colspan="2">
                            <input type="button" class="btn btn-primary" value="查詢" id="btnD65Search" style="margin-right:10px;margin-left:30px;" />
                            <input type="button" class="btn btn-primary" value="下載Excel" id="btnD65DlExcel" style="margin-right:10px;margin-left:30px;" />
                        </td>
                    </tr>
                    <tr class="action transfer" style="display:none">
                        <td style="padding-top:5px;" colspan="2">
                            <input type="button" class="btn btn-primary" value="執行" id="btnD65Transfer" style="margin-right:10px;" />
                        </td>
                    </tr>
                    <tr class="action case" style="display:none">
                        <td style="padding-top:5px;" colspan="2">
                            <input type="button" class="btn btn-primary" value="新增個案" id="btnD65InsertCase" style="margin-right:10px;" />
                            <input type="button" class="btn btn-primary" value="一鍵新增註記個案" id="btnD65AutoInsertCase" style="margin-right:10px;" /><!--190619 PGE需求新增-->
                        </td>
                    </tr>
                </table>
            </form>
            <i class="fa fa-exclamation-circle title" style="font-size:24px;"
               alt="說明：
1.擁有評估權限者(呈送複核者),且未選擇最終版本時才可執行評估!
2.擁有評估權限者(呈送複核者),才可以上傳檔案&修改註解
3.一鍵新增註記個案為將最大版本A41註記為N的部位全部新增，若要刪除請至查詢頁面操作
"></i>
        </div>
    </div>
    <div class="row main_body" style="overflow:auto;height:100%">
        <div class="col-md-12">
            <div class="viewDetail">
                <div id="jqgridDiv" class="jqd">
                </div>
            </div>
        </div>
    </div>
    <div id="D65Dialog"></div>
    <div id="D65Dialog2">
        <div id="jqgridDiv2" class="jqd">
        </div>
    </div>
    <div id="D65Dialog3" style="display:none">
        <table style="width:100%">
            <tr class="fileUpLoad">
                <td style="padding-top:10px">
                    @using (Ajax.BeginForm("UpLoadQualitativeFile", "D6",
                     new AjaxOptions { HttpMethod = "POST" },
                     new { enctype = "multipart/form-data", @id = "D65form0" }))
                    {
                        <input type="file" id="D65file" name="D65file" class="filestyle" data-buttonName="btn-primary" data-buttonText="上傳檔案" />
                    }
                </td>
                <td style="padding-top:10px">
                    <input type="button" class="btn btn-primary" style="margin-right:10px" value="資料上傳" id="fileSubmit" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="jqgridDiv3" class="jqd" style="padding-top:10px;width:100%"></div>
                </td>
            </tr>
            <tr style="display:none">
                <td colspan="2">
                    <input type="hidden" id="D65Check_Reference" />
                </td>
            </tr>
        </table>
    </div>
    <div id="D65Dialog4" style="display:none">
        <table style="width:100%">
            <tr>
                <td colspan="2">
                    <textarea id="D65TextArea" maxlength="255" style="overflow-y: scroll; white-space:pre-wrap;max-width:100%;width:100%;height:200px;"></textarea>
                </td>
            </tr>
            <tr>
                <td style="padding-top:10px;">
                    <input type="button" class="btn btn-primary" value="存檔" id="btnD65TextAreaSave" style="" />
                </td>
                <td style="padding-top:10px;float:right;">
                    <input type="button" class="btn btn-primary" value="取消" id="btnD65TextAreaCancel" style="" />
                </td>
            </tr>
        </table>
    </div>
    <div id="D65Dialog5">
        <div id="jqgridDiv4" class="jqd">
        </div>
    </div>
    <div id="D65Dialog6" style="display:none">
        <form id="ExtraForm">
            <table>
                <tr>
                    <td>
                        <label>評估基準日/報導日 : </label>
                    </td>
                    <td>
                        <label id="ExtraReportDate"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>資料版本 : </label>
                    </td>
                    <td>
                        <label id="ExtraVersion"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>債券編號 : </label>
                    </td>
                    <td>
                        <input type="text" id="ExtraBondNumber" name="ExtraBondNumber" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Lots : </label>
                    </td>
                    <td>
                        <input type="text" id="ExtraLots" name="ExtraLots" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Portfolio(英文) : </label>
                    </td>
                    <td>
                        <input type="text" id="ExtraProtfolioName" name="ExtraProtfolioName" />
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:10px;">
                        <input type="button" class="btn btn-primary" value="存檔" id="btnExtraSave" style="" />
                    </td>
                    <td style="padding-top:10px;float:right;">
                        <input type="button" class="btn btn-primary" value="取消" id="btnExtraCancel" style="" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!--190619 PGE需求新增-->
<div id="D65Dialog7" style="display:none">
    <form id="ExtraForm2">
        <table>
            <tr>
                <td>
                    <label>評估基準日/報導日 : </label>
                </td>
                <td>
                    <label id="ExtraReportDate2"></label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>資料版本 : </label>
                </td>
                <td>
                    <label id="ExtraVersion2"></label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>A41註記為N部位筆數 : </label>
                </td>
                <td>
                    <label id="A41AssessmentCheckNumber" />
                </td>
            </tr>
            <tr>
                <td style="padding-top:10px;">
                    <input type="button" class="btn btn-primary" value="存檔" id="btnExtraAutoSave" style="" />
                </td>
                <td style="padding-top:10px;float:right;">
                    <input type="button" class="btn btn-primary" value="取消" id="btnExtraAutoCancel" style="" />
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        //#region 註冊URL
        var url = {};
        url.search = '@Url.Action("SearchD65", "D6")';
        url.save = '@Url.Action("SaveD65", "D6")';
        url.transfer = '@Url.Action("TransferD65", "D6")';
        url.getDbData = '@Url.Action("GetCacheData", "D6")';
        url.getCheckItemCode = '@Url.Action("GetCheckItemCode", "D6")';
        url.getAuditor = '@Url.Action("GetAuditor", "D6")';
        url.history = '@Url.Action("GetD65History", "D6")'
        url.D66Data = '@Url.Action("GetD66","D6")';;
        url.getQualitativeFile = '@Url.Action("GetQualitativeFile", "D6")';
        url.getAssessmentStage = '@Url.Action("getAssessmentStage","D6")';
        url.getTextArea = '@Url.Action("GetTextArea","D6")';
        url.saveTextArea = '@Url.Action("SaveTextArea","D6")';
        url.updateD65 = '@Url.Action("UpdateD65","D6")';
        url.getD65Excel = '@Url.Action("GetD65Excel", "D6")';
        url.delQualitativeFile = '@Url.Action("DelFile", "D6")';
        url.getA41Verison = '@Url.Action("GetA41Version","D6")';
        url.getA41Assessment = '@Url.Action("GetA41AssessmentCheck", "D6")'; //190619 PGE需求新增
        url.AddExtraCase = '@Url.Action("AddExtraCase","D6")';
        url.AutoAddExtraCase = '@Url.Action("AutoAddExtraCase","D6")' //190619 PGE需求新增
        url.DelExtraCase = '@Url.Action("DelExtraCase","D6")';
        //#endregion 註冊URL

        //#region 共用參數

        //#endregion 共用參數
        @*var AssessmentStage = JSON.parse('@Html.Raw(Json.Encode(ViewBag.AssessmentStage))');*@
        var AssessorFlag = @Html.Raw(Json.Encode(ViewBag.AssessorFlag));
        var dialogId = 'D65Dialog';
        var dialogId2 = 'D65Dialog2';
        var dialogId3 = 'D65Dialog3';
        var dialogId4 = 'D65Dialog4';
        var dialogId5 = 'D65Dialog5';
        var dialogId6 = 'D65Dialog6';
        var dialogId7 = 'D65Dialog7';//190619 PGE需求新增
        var dialogformId = dialogId + 'Form';
        var Assessment_Sub_KindId = dialogId + 'Assessment_Sub_Kind';
        var AuditorId = dialogId + 'Auditor';
        var Assessment_StageId = dialogId + 'Assessment_Stage';
        var saveId = dialogId + 'btnSave';
        var deleteId = dialogId + 'btnDelete';
        var autoCreateClass = 'autoCreate';
        var NotAssessStr = '@Ref.Evaluation_Status_Type.NotAssess.GetDescription()'; //尚未評估
        var NotReviewStr = '@Ref.Evaluation_Status_Type.NotReview.GetDescription()'; //尚未提交複核(已評估)
        var ReviewStr = '@Ref.Evaluation_Status_Type.Review.GetDescription()'; //已提交複核(複核者未回覆)
        var RejectStr = '@Ref.Evaluation_Status_Type.Reject.GetDescription()'; //複核者選擇退回
        var CompletedStr = '@Ref.Evaluation_Status_Type.ReviewCompleted.GetDescription()'; //複核完成
        var deleteFlag = false; //複核完成or複核者選擇退回 為false(不能刪除檔案),其他為true 可以刪除檔案
        var _referenceNbr = '';
        var _Assessment_Result_Version = '';
        //#region 產生 dialog
        var obj = [
            { 'name': 'Assessment_Sub_Kind', 'type': 'string', 'title': '評估次分類', 'hide': 'true' },
            { 'name': 'Auditor', 'type': 'selectOption', 'title': '複核者' },
            { 'name': 'Assessment_Stage', 'type': 'selectOption', 'title': '評估階段' },
        ]
        jqgridCustom.createDialog(dialogId, obj);
        //var options = [];



        //options.push({ value: '', text: '' })
        //$.each(AssessmentStage, function (i, v) {
        //    options.push({ value: v, text: v })
        //})
        //customerUtility.addoption(Assessment_StageId, options);

        function assessmentStageChange()
        {
            $('#' + Assessment_StageId).off('change');
            $('#' + Assessment_StageId).on('change', function () {
                var t = $(this);
                $('.' + autoCreateClass).remove();
                if (t.val() != '')
                {
                    $.ajax({
                        type: "POST",
                        data: JSON.stringify({
                            Assessment_Stage: t.val(),
                            Assessment_Kind: '@Ref.AssessmentKind_Type.Qualitative.GetDescription()',
                            Assessment_Sub_Kind: $('#' + Assessment_Sub_KindId).val()
                        }),
                        dataType: "json",
                        url: url.getCheckItemCode,
                        contentType: 'application/json'
                    })
                    .done(function (result) {
                        if (result.RETURN_FLAG) {
                            var add = '';
                            $.each(result.Datas.Data, function (i, v) {
                                add += createSelectionINDialog(v.Item1,v.Item2);
                            });
                            $('#' + Assessment_StageId + 'tr').after(add);
                            var optionObj = [];
                            optionObj.push({ value: '', text: '' });
                            optionObj.push({ value: '0', text: '未通過(或不適用)' });
                            optionObj.push({ value: '1', text: '通過' });
                            $.each(result.Datas.Data, function (i, v) {
                                customerUtility.addoption( dialogId + v.Item1, optionObj);
                            })
                        }
                    });
                }
            });
        }



        function createSelectionINDialog(id,info)
        {
            return '<tr class="' + autoCreateClass + '" id="D65Dialog' + id + 'tr"><td style="white-space:nowrap; text-align:right">' +
                '<table style="float:right;"><tr>' +
                '<td><i class="fa fa-exclamation-circle title dialogClass" style="font-size:24px;display: block;position: inherit;" alt="'+info+'"></i></td>'+
                '<td>'+id + ' :&ensp;</td></tr></table>' +
                '</td><td style="white-space:nowrap;padding-bottom: 5px;padding-top: 5px;"><select class="form-control" id="D65Dialog' + id + '" name="' + id + '" style="width:215px;display:inline-block"></select></td></tr>'
        }

        //#endregion 產生 dialog


        //#region 註冊datepicker
        created.createDatepicker('datepicker', true, '');
        //#endregion 註冊datepicker

        //#region 註冊verified
        verified.datepicker("myForm", "datepicker", true, $('#datepicker').val());
        verified.required("ExtraForm", "ExtraBondNumber");
        verified.required("ExtraForm", "ExtraLots");
        verified.required("ExtraForm", "ExtraProtfolioName");
        //#endregion 註冊verified

        $('#D65TextArea').on('keydown', verified.textAreaLength);

        //#region 註冊click事件
        $('input:button').each(function () {
            var id = $(this).attr('id');
            switch (id) {
                case 'btnD65Transfer':
                    $('#' + id).on('click', function () { transfer() });
                    break;
                case 'btnD65Search':
                    $('#' + id).on('click', function () { search() });
                    break;
                case 'fileSubmit':
                    $('#' + id).on('click', function () { fileSubmitFunction() });
                    break;
                case 'btnD65DlExcel':
                    $('#' + id).on('click', function () { D65DlExcel() });
                    break;
                case 'btnD65InsertCase':
                    $('#' + id).on('click', function () { D65InsertCase() });
                    break;
                case 'btnD65AutoInsertCase':
                    $('#' + id).on('click', function () { D65AutoInsertCase() });
                    break;
            }
        })
        //#endregion 註冊click事件

        //#region 切換動作
        $('#action').on('change', function () {
            clearJqgrid('jqgridDiv');
            $('.action').hide();
            var opencls = $(this).val();
            $('.' + opencls).show();
        });
        //#endregion 切換動作
        function D65AutoInsertCase() {
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    date: $('#datepicker').val()
                }),
                dataType: "json",
                url: url.getA41Verison,
                contentType: 'application/json',
            })
                .done(function (result) {
                    if (result == 0) {
                        customerUtility.alert('A41無該報導日資料', 'e');
                    }

                    else {
                        $('#ExtraVersion2').text(result);
                        $('#ExtraReportDate2').text($('#datepicker').val());
                        $.ajax({
                            type: "POST",
                            data: JSON.stringify({
                                date: $('#ExtraReportDate2').text(),
                                version: $('#ExtraVersion2').text(),
                            }),
                            dataType: "json",
                            url: url.getA41Assessment,
                            contentType: 'application/json',
                        }).done(function (result2) {
                            if (result2 == 0) {
                                customerUtility.alert('該報導日最大版本無註記為N的資料', 'e');
                            }
                            else {

                                $('#A41AssessmentCheckNumber').text(result2);
                                $("#" + dialogId7).dialog({
                                    title: "一鍵新增A41註記部位質化評估個案",
                                    position: { my: "left+70% top+10%", at: "left+10% top", of: window },
                                    width: 'auto',
                                    autoOpen: false,
                                    resizable: false,
                                    closeText: "取消",
                                });
                                $("#D65Dialog7").dialog("open");
                                $('#btnExtraAutoCancel').off('click');
                                $('#btnExtraAutoCancel').on('click', function () {
                                    $("#" + dialogId7).dialog("close");
                                });

                                $('#btnExtraAutoSave').off('click');
                                $('#btnExtraAutoSave').on('click', function () {
                                    $.ajax({
                                        type: "POST",
                                        data: JSON.stringify({
                                            reportDate: $('#ExtraReportDate2').text(),
                                            version: $('#ExtraVersion2').text(),
                                        }),
                                        dataType: "json",
                                        url: url.AutoAddExtraCase,
                                        contentType: 'application/json',

                                    }).done(function (result3) {
                                        if (result3.RETURN_FLAG) {
                                            customerUtility.alert(result3.DESCRIPTION, 's');
                                            $("#D65Dialog7").dialog("close");
                                        }
                                        else
                                            customerUtility.alert(result3.DESCRIPTION, 'e');
                                    });
                                });
                            }
                        })
                    }
                })
        }


        function D65InsertCase(){
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    date: $('#datepicker').val()
                }),
                dataType: "json",
                url: url.getA41Verison,
                contentType: 'application/json',
            })
            .done(function (result) {
                if(result == 0)
                {
                    customerUtility.alert('A41無該報導日資料','e');
                }
                else
                {
                    $('#ExtraReportDate').text($('#datepicker').val());
                    $('#ExtraVersion').text(result);
                    $('#ExtraBondNumber').val('');
                    $('#ExtraLots').val('');
                    $('#ExtraProtfolioName').val('');
                    $('#ExtraForm').validate().resetForm();
                    $("#" + dialogId6).dialog({
                        title: "新增質化評估個案",
                        position:  { my: "left+70% top+10%", at: "left+10% top", of: window},
                        width : 'auto',
                        autoOpen: false,
                        resizable: false,
                        closeText: "取消",
                    });
                    $("#D65Dialog6").dialog("open");

                    $('#btnExtraCancel').off('click');
                    $('#btnExtraCancel').on('click',function(){
                        $("#D65Dialog6").dialog("close");
                    });

                    $('#btnExtraSave').off('click');
                    $('#btnExtraSave').on('click',function(){
                        if($('#ExtraForm').valid())
                        {
                            $.ajax({
                                type: "POST",
                                data: JSON.stringify({
                                    reportDate: $('#ExtraReportDate').text(),
                                    version : $('#ExtraVersion').text(),
                                    bondNumber : $('#ExtraBondNumber').val(),
                                    Lots : $('#ExtraLots').val(),
                                    portfolio_Name : $('#ExtraProtfolioName').val()
                                }),
                                dataType: "json",
                                url: url.AddExtraCase,
                                contentType: 'application/json',
                            })
                            .done(function(result){
                                if (result.RETURN_FLAG)
                                {
                                    customerUtility.alert(result.DESCRIPTION,'s');
                                    $("#D65Dialog6").dialog("close");
                                }
                                else
                                    customerUtility.alert(result.DESCRIPTION,'e');
                            });
                        }
                    });
                }
            })
        }

        function D65DlExcel() {
            $.ajax({
                type: "POST",
                url: url.getD65Excel,
                contentType: 'application/json',
            })
            .done(function (result) {
                if (result.RETURN_FLAG)
                {
                    window.location.href = "@Url.RouteUrl(new
                    { Controller = "D6", Action = "DownloadExcel"})/?type=" + '@Ref.Excel_DownloadName.D65.ToString()';
                    setTimeout(function () {
                        window.location.href = "@Url.RouteUrl(new
                        { Controller = "D6", Action = "DownloadExcel"})/?type=" + '@Ref.Excel_DownloadName.D66.ToString()';
                    }, 2000);
                }
                else
                customerUtility.alert(result.DESCRIPTION,'e');
            })
        }

        //#region 查詢質化評估需求資訊檔
        function search() {
            $('#btnD65DlExcel').prop('disabled',true);
            clearJqgrid('jqgridDiv');
            if ($('#myForm').valid()) {
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        date: $('#datepicker').val(),
                        assessmentSubKind: $('#assessmentSubKind').val(),
                        bondNumber: $('#bondNumber').val(),
                        referenceNbr: $('#referenceNbr').val(),
                        index: $('#index').val()
                    }),
                    dataType: "json",
                    url: url.search,
                    contentType: 'application/json',
                })
                .done(function (result) {
                    $('#btnD65DlExcel').prop('disabled',!result.RETURN_FLAG);
                    if (result.RETURN_FLAG)
                    {
                        createJqgrid("jqgridDiv", "list1", "pager1");
                    }
                    else
                        customerUtility.alert(result.DESCRIPTION,'e');
                })
            }
        }
        //#endregion 查詢質化評估需求資訊檔

        //#region 執行質化評估需求資訊檔轉檔
        function transfer() {
            clearJqgrid('jqgridDiv');
            if ($('#myForm').valid()) {
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        reportDate: $('#datepicker').val(),
                    }),
                    dataType: "json",
                    url: url.transfer,
                    contentType: 'application/json',
                })
                .done(function (result) {
                    if (result.RETURN_FLAG)
                    {
                        createJqgrid("jqgridDiv", "list0", "pager0");
                        customerUtility.alert(result.DESCRIPTION,'s');
                    }
                    else
                        customerUtility.alert(result.DESCRIPTION,'e');
                })
            }
        }
        //#endregion

        //#region fileSubmit
        function fileSubmitFunction()
        {
            var name = $('#D65file').next().find('input').val();

            if(name == '')
            {
                customerUtility.alert('請選擇檔案!','w');
                return false;
            }

            var sameFlag = "N";
            $.each( $('#list3').getGridParam('data'),function(i,v){
                if(name == v.File_Name)
                    sameFlag = "Y";
            })

            if(sameFlag == "Y")
            {
                if (!confirm("已經有檔名為 "+name+" ,是否取代?"))
                    return false;
            }

            var dataString = new FormData();;
            var action = $("#D65form0").attr("action");
            if ($("#D65form0").attr("enctype") == "multipart/form-data") {
                dataString.append("UploadedFile", $("#D65file").get(0).files[0]);
                dataString.append("Check_Reference",$('#D65Check_Reference').val());
                dataString.append("sameFlag",sameFlag);
                dataString.append("type","D66");
            }
            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                dataType: "json",
                contentType: false,
                processData: false,
            })
            .done(function (result) {
                if (result.RETURN_FLAG)
                {
                    resetD66();
                    var data = result.Datas.Data;
                    clearJqgrid('jqgridDiv3');
                    createJqgrid2("list3", "pager3",data);
                }
                else
                {
                    customerUtility.alert(result.DESCRIPTION,'e');
                }
            });
        }
        //#endregion fileSubmit

        //#region clearJqgrid (清除JqGrid)
        function clearJqgrid(jqgridDivId) {
            $('#' + jqgridDivId).children().remove();
        }
        //#endregion clearJqgrid

        //#region jagrid 欄位自訂格式化
        function formatterFileHyperlink(cellvalue, options, rdata)
        {
            return "<a href='#' class='openDialog Dialog3' style='text-decoration:underline;' return:false; id='" + options.gid + "File" + options.rowId + "' name='" + cellvalue + "' title='上傳或檢視("+rdata.FileCount+")'>上傳或檢視</a><span>("+rdata.FileCount+")</span>";
        }

        function D65FormatterAuditor_Reply(cellvalue, options, rdata)
        {
            if(rdata.Assessment_Result_Version == "1")
                return "";
            return "<a href='#' class='openDialog Dialog4' style='text-decoration:underline;' return:false; id='" + options.gid + "Auditor_Reply" + options.rowId + "' title='檢視'>檢視</a>";
        }

        function formatterAssessment_Result(cellvalue, options, rdata)
        {
            return "<a href='#' class='openDialog Dialog4' style='text-decoration:underline;' return:false; id='" + options.gid + "AR" + options.rowId + "' title='修改或檢視'>修改或檢視</a>";
        }

        function formatterMemo(cellvalue, options, rdata)
        {
            return "<a href='#' class='openDialog Dialog4' style='text-decoration:underline;' return:false; id='" + options.gid + "Memo" + options.rowId + "' title='修改或檢視'>修改或檢視</a>";
        }

        function formatterDLFileHyperlink(cellvalue, options, rdata)
        {
            return "<a href='#' class='openDialog dlfile' style='text-decoration:underline;' return:false; id='" + options.gid + "DLFile" + options.rowId + "' name='" + cellvalue + "' title='"+cellvalue+"'>"+cellvalue+"</a>";
        }

        function formatterDELFileHyperlink(cellvalue, options, rdata)
        {
            let str = '';
            str += '<div class="btn-group">';
            str += '<a title="刪除" class="btn actionDeleIcon2" style="padding-right:4px;padding-left:4px;padding-bottom:0px;padding-top:0px;" href="#" id="D66File' + options.gid + 'Dele' + options.rowId + '" return:false;="">';
            str += '<i class="fa fa-trash fa-lg"></i></a>';
            str += '</div>';
            return str;
        }

        function D65FormatterAssessment_Result_Version(cellvalue, options, rdata)
        {
            if(cellvalue == "1")
                return cellvalue;
            return "<a href='#' class='openDialog Dialog5' style='text-decoration:underline;' return:false; id='" + options.gid + "ARV" + options.rowId + "' title='"+cellvalue+"'>"+cellvalue+"</a>";
        }
        //#endregion jagrid 欄位自訂格式化

        //#region 檔案畫面
        function fileDialogOpen(checkReference,Reference_Nbr,Assessment_Result_Version)
        {
            _referenceNbr = Reference_Nbr;
            _Assessment_Result_Version = Assessment_Result_Version;
            if(AssessorFlag && deleteFlag)
            {
                $('.fileUpLoad').show();
            }
            else
            {
                $('.fileUpLoad').hide();
            }
            //if(!(AssessorFlag))
            //    $('.fileUpLoad').hide();
            //else
            //    $('.fileUpLoad').show();
            clearJqgrid("jqgridDiv3");
            $('#D65file').next().find('input').val('');
            $('#D65Check_Reference').val('');
            $('#D65Check_Reference').val(checkReference);
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    Check_Reference: checkReference
                }),
                dataType: "json",
                url: url.getQualitativeFile,
                contentType: 'application/json'
            })
            .done(function (result) {
                var data = {};
                if (result.RETURN_FLAG) {
                    data = result.Datas.Data;
                }
                $("#" + dialogId3).dialog({
                    title: "檔案上傳檢視",
                    position:  { my: "left+70% top+10%", at: "left+10% top", of: window},
                    width : 'auto',
                    autoOpen: false,
                    resizable: false,
                    closeText: "取消",
                });
                $("#" + dialogId3).dialog("open");
                createJqgrid2("list3", "pager3",data);
            });
        }
        //#endregion 檔案畫面

        //#region 備註畫面
        function textAreaDialogOpen(
            id,
            Reference_Nbr,
            Version,
            Assessment_Result_Version,
            Check_Item_Code,
            ReportDate)
        {
            let textAreaId = 'D65TextArea';
            let table = "D66";
            $('#'+textAreaId).val('');
            if(AssessorFlag && deleteFlag)
            {
                $('#btnD65TextAreaSave').show();
                $('#'+textAreaId).prop('disabled',false);
            }
            else
            {
                $('#btnD65TextAreaSave').hide();
                $('#'+textAreaId).prop('disabled',true);
            }

            let title = '';
            let type = ''
            if(id.indexOf('AR') > -1)
            {
                title = '評估結果說明';
                type = 'Assessment_Result';
            }
            if(id.indexOf('Memo') > -1)
            {
                title = '備註';
                type = 'Memo';
            }
            if(id.indexOf("Auditor_Reply") > -1)
            {
                title = '複核者之回覆意見';
                type = 'Auditor_Reply';
                table = "D65";
                $('#btnD65TextAreaSave').hide();
                $('#'+textAreaId).prop('disabled',true);
            }
            if(title != '')
            {
                $("#" + dialogId4).dialog({
                    title: title,
                    position: { my: "top+10%", at: "center top", of: window },
                    width : '500px',
                    autoOpen: false,
                    resizable: false,
                    closeText: "取消",
                    modal: true
                });
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        ReportDate: ReportDate,
                        Reference_Nbr:Reference_Nbr,
                        Vresion:Version,
                        Assessment_Result_Version:Assessment_Result_Version,
                        Check_Item_Code:Check_Item_Code,
                        type:type,
                        table:table
                    }),
                    dataType: "json",
                    url: url.getTextArea,
                    contentType: 'application/json'
                })
                .done(function (result) {
                    if (result.RETURN_FLAG) {
                        $('#'+textAreaId).val(result.Datas.Data);
                    }
                    $("#" + dialogId4).dialog("open");
                });

                $('#btnD65TextAreaCancel').off('click');
                $('#btnD65TextAreaCancel').on('click',function(){
                    $('#'+textAreaId).val('');
                    $("#" + dialogId4).dialog("close");
                });

                $('#btnD65TextAreaSave').off('click');
                $('#btnD65TextAreaSave').on('click',function(){
                    let maxValue = 255;
                    if (typeof ($('#'+textAreaId).attr('maxlength')) != 'undefined') {
                        maxValue = parseInt($('#'+textAreaId).attr('maxlength'));
                    }
                    let nowValue = $('#'+textAreaId).val().Blength();
                    if(nowValue > maxValue)
                    {
                        customerUtility.alert(("內容超過最大限制"+maxValue+",目前為"+nowValue),'w');
                        return false;
                    }
                    else
                    {
                        $.ajax({
                            type: "POST",
                            data: JSON.stringify({
                                value: $('#'+textAreaId).val(),
                                ReportDate: ReportDate,
                                Reference_Nbr:Reference_Nbr,
                                Vresion:Version,
                                Assessment_Result_Version:Assessment_Result_Version,
                                Check_Item_Code:Check_Item_Code,
                                type:type,
                                table:table
                            }),
                            dataType: "json",
                            url: url.saveTextArea,
                            contentType: 'application/json'
                        })
                        .done(function (result) {
                            var data = {};
                            if (result.RETURN_FLAG) {
                                customerUtility.alert(result.DESCRIPTION,'s');
                                $("#" + dialogId4).dialog("close");
                            }
                            else
                            {
                                customerUtility.alert(result.DESCRIPTION,'e');
                            }
                        });

                    }
                });
            }
        }
        //#endregion 備註畫面

        //#region
        function D66DialogOpen(
            Reference_Nbr,
            Assessment_Result_Version,
            Status)
        {
            if(Status == '@Ref.Evaluation_Status_Type.ReviewCompleted.GetDescription()' ||
                Status == '@Ref.Evaluation_Status_Type.Reject.GetDescription()')
                deleteFlag = false;
            else
                deleteFlag = true;
            $("#" + dialogId5).dialog({
                title: "質化評估結果檔",
                position: { my: "left+25% top", at: "left+10% top", of: window},
                width : 'auto',
                autoOpen: false,
                resizable: false,
                closeText: "取消",
                modal: true
            });
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    referenceNbr:Reference_Nbr,
                    version:Assessment_Result_Version
                }),
                dataType: "json",
                url: url.D66Data,
                contentType: 'application/json'
            })
            .done(function (result) {
                if (result.RETURN_FLAG) {
                    clearJqgrid("jqgridDiv4");
                    $("#" + dialogId5).dialog("open");
                    createJqgrid("jqgridDiv4","list4", "pager4");
                }
            });
        }
        //#endregion

        //#region createJqgrid (建立JqGrid套件(localData)) 觀看檔案清單

        function createJqgrid2(listId, pagerId, data) {
            var colNameArray = [];
            var colModelArray = [];
            if(AssessorFlag && deleteFlag)
            {
                colNameArray = ["動作","檔名"];
                colModelArray = [
                 {name : "Action",index : "Action", sortable: false, editable: false, width : 40,formatter : formatterDELFileHyperlink},
                 { name: "File_Name", index: "File_Name", align: 'left' , width: 400, formatter: formatterDLFileHyperlink},
                ];
            }
            else
            {
                colNameArray = ["檔名"];
                colModelArray = [
                 { name: "File_Name", index: "File_Name", align: 'left' , width: 400, formatter: formatterDLFileHyperlink},
                ];
            }

            $('#jqgridDiv3').append('<table id="' + listId + '"></table>');
            $('#jqgridDiv3').append('<div id="' + pagerId + '"></div>');
            $("#" + listId).jqGrid({
                data: data,
                datatype: "local",
                mtype: "POST",
                colNames: colNameArray,
                colModel: colModelArray,
                 rowNum: 10, //一頁筆數
                pager: '#' + pagerId,
                height: 300,
                width: 500,
                sortorder: "desc",
                caption: "檔案清單", //標題
                resizable: false,
                shrinkToFit: false,
                autoencode: true,
                viewsortcols: [true, 'vertical', true],
                viewrecords: true, //顯示總數
                ajaxRowOptions: { contentType: "application/json" },
                serializeRowData: function (data) {
                    return JSON.stringify(data);
                },
                loadComplete: function () {
                    var table = $(this);
                    jqgridCustom.updatePagerIcons(table);
                    $('#' + listId + ' > tbody > tr:gt(0) ').each(function(){
                        var fileName = $(this).find($.validator.format('td[aria-describedby$={0}_File_Name]', listId)).text();
                        $(this).find('td').find('a.dlfile').each(function(){
                            $(this).off('click');
                            $(this).on('click',function(){
                                customerUtility.onbeforeunloadFlag = false;
                                window.location.href = "@Url.RouteUrl(new
                                { Controller = "D6", Action = "DLQualitativeFile" })/?Check_Reference="
                                    +$('#D65Check_Reference').val()
                                    +"&fileName="+$(this).attr("name");
                            });
                        });
                        $(this).find('td').find('a.actionDeleIcon2').each(function(){
                            $(this).off('click');
                            $(this).on('click',function(){
                                D66FileDele($('#D65Check_Reference').val(),fileName);
                            });
                        });
                    });
                }
            });
            $("#" + listId).jqGrid('navGrid', '#' + pagerId, { edit: false, add: false, del: false, search: false, refresh: false });
        }

        //#endregion createJqgrid (建立JqGrid套件(localData))

        function D66FileDele(Check_Reference,fileName) {
            if (!confirm("確定把檔案刪除?")) {
                return false
            }
            else {
                clearJqgrid();
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        type: 'D66',
                        Check_Reference:Check_Reference,
                        fileName:fileName
                    }),
                    dataType: "json",
                    url: url.delQualitativeFile,
                    contentType: 'application/json',
                })
                .done(function (result) {
                    var data = {};
                    if (result.RETURN_FLAG) {
                        data = result.Datas.Data;
                        clearJqgrid('jqgridDiv3');
                        createJqgrid2("list3", "pager3",data);
                        resetD66();
                        customerUtility.alert(result.DESCRIPTION,'s');
                    }
                    else
                    {
                        customerUtility.alert(result.DESCRIPTION,'e');
                    }
                });
            }
        }

        function resetD66()
        {
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    referenceNbr:_referenceNbr,
                    version:_Assessment_Result_Version
                }),
                dataType: "json",
                url: url.D66Data,
                contentType: 'application/json'
            })
            .done(function (result) {
                if (result.RETURN_FLAG) {
                    clearJqgrid("jqgridDiv4");
                    createJqgrid("jqgridDiv4","list4", "pager4");
                    var page = getPage('jqgridDiv');
                    clearJqgrid("jqgridDiv");
                    createJqgrid("jqgridDiv","list1", "pager1",page);
                }
            });
        }

        //#region Audit formate button
        function D65Evaluation_StatusFormatterBtn(cellvalue, options, rdata)
        {
            var _Status = rdata.Status; //狀態
            var _value = ''; //顯示文字
            var disabledFlag = true; //隱藏Flag
            if(rdata.Assessment_Result_Version == 1)
            {
                _value = '第一版不複核';
            }
            else
            {
                if(rdata.Auditor_Return == "Y")  //複核者選擇退回
                {
                    _value = '該版複核退回';
                }
                else if(_Status == NotAssessStr) //尚未評估
                {
                    _value = '請先評估';
                }
                else if(_Status == CompletedStr) //複核完成
                {
                    _value = '複核版本V'+rdata.Result_Version_Confirm;
                }
                else if(_Status == ReviewStr) //已提交複核(等待處理中)
                {
                    _value = '取消複核';
                    if(rdata.Send_to_Auditor == "Y") //被選定的版本給'Y' 才可以取消複核
                    {
                        disabledFlag = false;
                    }
                }
                else if(_Status == NotReviewStr || _Status == RejectStr) //尚未提交複核(已評估) or 複核者選擇退回
                {
                    disabledFlag = false;
                    _value = '提交複核';
                }
                if(!(AssessorFlag))
                {
                    disabledFlag = true;
                }
            }
            return '<input type="button" class="btn btn-primary" value="'+_value+ '" id="' + options.gid + "Evaluation" + options.rowId + '" ' +
                   ' title="'+_value+'" style="width:85px" ' + (disabledFlag ? 'disabled' : '') + '>';
        }
        //#endregion

        //#region update D65
        function D65EvaluationClick(
            Reference_Nbr,
            Assessment_Result_Version,
            Status,
            Assessment_Sub_Kind)
        {
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    Reference_Nbr:Reference_Nbr,
                    Assessment_Result_Version:Assessment_Result_Version,
                    action:Status == '@Ref.Evaluation_Status_Type.Reject.GetDescription()' ? '@Ref.Evaluation_Status_Type.NotReview.GetDescription()' : Status
                }),
                dataType: "json",
                url: url.updateD65,
                contentType: 'application/json'
            })
            .done(function (result) {
                if (result.RETURN_FLAG) {
                    clearJqgrid("jqgridDiv2");
                    createJqgrid("jqgridDiv2","list2", "pager2",Assessment_Sub_Kind);
                    var page = getPage('jqgridDiv');
                    clearJqgrid("jqgridDiv");
                    createJqgrid("jqgridDiv","list1", "pager1",page);
                }
                else
                {
                    customerUtility.alert(result.DESCRIPTION,'e');
                }
            });
        }
        //#endregion

        //#region createJqgrid (建立JqGrid套件)
        //listId (Jqgrid產生table的ID)
        //pagerId (下方產生筆數的ID)
        function createJqgrid(jqgridDivId, listId, pagerId,page) {
            page = page || '1';
            $('#' + jqgridDivId).append('<table id="' + listId + '"></table>');
            $('#' + jqgridDivId).append('<div id="' + pagerId + '"></div>');
            var title = '';
            var names = [];
            var model = [];
            var table = '';
            if(listId == 'list0')
            {
                table = 'D65Transfer';
                title = '質化評估轉檔資訊';
                names = [ "帳戶編號/群組編號", "評估日/報導日", "資料版本", "評估種類", "評估次分類",
                          "債券編號", "Lots", "Portfolio", "債券購入(認列)日期", "Portfolio英文"];
                model = [
                            { name: "Reference_Nbr", index: "Reference_Nbr", align: 'left' },
                            { name: "Report_Date", index: "Report_Date", align: 'left', width: 100 },
                            { name: "Version", index: "Version", align: 'right', width: 80 },
                            { name: "Assessment_Kind", index: "Assessment_Kind", align: 'left', width: 100 },
                            { name: "Assessment_Sub_Kind", index: "Assessment_Sub_Kind", align: 'left' },
                            { name: "Bond_Number", index: "Bond_Number", align: 'left' },
                            { name: "Lots", index: "Lots", align: 'right', width: 60 },
                            { name: "Portfolio", index: "Portfolio", align: 'left', width: 230 },
                            { name: "Origination_Date", index: "Origination_Date", align: 'center' },
                            { name: "Portfolio_Name", index: "Portfolio_Name", align: 'left' }
                ];
            }
            else if (listId == 'list1')
            {
                table = '@Ref.Table_Type.D65.ToString()';
                title = '質化評估需求資訊檔';
                names = @Html.Raw(Json.Encode(ViewBag.jqgridColNames));
                model = @Html.Raw(Json.Encode(ViewBag.jqgridColModel));
            }
            else if(listId == 'list2')
            {
                table = 'D65History';
                title = '評估紀錄檔';
                names = [
                    "執行動作","評估結果版本","狀態","複核者之回覆意見","是否通過質化評估",
                    //"檔案數量",
                    "評估者","評估者名稱","評估日期","複核者",
                    "複核者名稱","複核日期","帳戶編號","評估次分類","是否提交複核", "資料版本", "評估日","選擇退回","複核後選擇版本"
                ];
                model = [
                    { name: "Action", width: 100, align: "center", sortable: false, editable: false, formatter: D65Evaluation_StatusFormatterBtn },
                    { name: "Assessment_Result_Version", index: "Assessment_Result_Version", align: 'left' ,formatter: D65FormatterAssessment_Result_Version},
                    { name: "Status", index: "Status", align: 'left' , width: 170 },
                    { name: "Auditor_Reply" , index:"Auditor_Reply",formatter: D65FormatterAuditor_Reply},
                    { name: "Quantitative_Pass_Confirm", index: "Quantitative_Pass_Confirm", align: 'left' },
                     //{ name :"FilesCount",index : "FilesCount",align:'right', width: 80},
                    { name: "Assessor", index: "Assessor", align: 'center' },
                    { name: "Assessor_Name", index: "Assessor_Name", align: 'center' },
                    { name: "Assessment_date", index: "Assessment_date", align: 'center' },
                    { name: "Auditor", index: "Auditor", align: 'center' },
                    { name: "Auditor_Name", index: "Auditor_Name", align: 'center' },
                    { name: "Audit_date", index: "Audit_date", align: 'center' },
                    { name: "Reference_Nbr", index: "Reference_Nbr", align: 'center', hidden:true },
                    { name: "Assessment_Sub_Kind", index: "Assessment_Sub_Kind", align: 'center', hidden:true },
                    { name: "Send_to_Auditor", index: "Send_to_Auditor", align: 'center', hidden:true },
                    { name: "Version", index: "Version", hidden: true },
                    { name: "Report_Date", index: "Report_Date", hidden: true },
                    { name: "Auditor_Return", index: "Auditor_Return", hidden: true },
                    { name: "Result_Version_Confirm", index: "Result_Version_Confirm", hidden: true },
                ];
            }
            else if(listId == "list4")
            {
                table = '@Ref.Table_Type.D66.ToString()';
                title = '評估結果檔';
                names = ["評估階段","測試指標編號", "測試指標名稱", "測試指標說明",
                         "指標證明文件存放位址","評估結果版本","評估結果說明","通過給定值",
                         "檢查條件","門檻",  "是否通過質化評估(stage2)","是否通過質化評估(stage3)",
                         "備註","帳戶編號", "資料版本", "評估日", "評估者"];
                model = [
                        { name: "Assessment_Stage", index: "Assessment_Stage", align: 'left', width: 70, sortable: false },
                        { name: "Check_Item_Code", index: "Check_Item_Code", align: 'left', width: 140 },
                        { name: "Check_Item", index: "Check_Item", align: 'left', width: 220, sortable: false  },
                        { name: "Check_Item_Memo", index: "Check_Item_Memo", align: 'left', width: 220 , sortable: false },
                        { name: "Check_Reference", index: "Check_Reference", align: 'center' , sortable: false , formatter: formatterFileHyperlink },
                        { name: "Assessment_Result_Version", index: "Assessment_Result_Version", align: 'right', width: 90 },
                        { name: "Assessment_Result", index: "Assessment_Result", align: 'center', width: 100,formatter: formatterAssessment_Result, sortable: false},
                        { name: "Pass_Value", index: "Pass_Value", align: 'right', width: 90 },
                        { name: "Check_Symbol", index: "Check_Symbol", align: 'right', width: 70, sortable: false },
                        { name: "Threshold", index: "Threshold", align: 'right', width: 70, sortable: false },
                        { name: "Qualitative_Pass_Stage2", index: "Qualitative_Pass_Stage2", align: 'left', width: 185 },
                        { name: "Qualitative_Pass_Stage3", index: "Qualitative_Pass_Stage3", align: 'left', width: 185 },
                        { name: "Memo", index: "Memo", width: 80,formatter:formatterMemo, sortable: false, align: 'center'},
                        { name: "Reference_Nbr", index: "Reference_Nbr", hidden: true },
                        { name: "Version", index: "Version", hidden: true },
                        { name: "Report_Date", index: "Report_Date", hidden: true },
                        { name: "Assessor", index: "Assessor", align: 'left', width: 150, hidden: true  },
                ];
            }
            $("#" + listId).jqGrid({
                url: url.getDbData,
                datatype: "json",
                mtype: "POST",
                postData:
                {
                    table: table,
                },
                jsonReader:
                {
                    repeatitems: false,
                },
                colNames: names,
                colModel: model,
                 rowNum: jqgridCustom.rowNum(), //一頁筆數
                rowList: jqgridCustom.rowList(), //設定一頁幾筆
                pager: '#' + pagerId,
                page : page,
                height: jqgridCustom.getHeight(),
                width: jqgridCustom.getwidth(),
                //sortname: 'id',
                viewrecords: true,
                sortorder: "desc",
                caption: title, //標題
                resizable: false,
                shrinkToFit: false,
                //autoencode: true, //jqgridCustom.randerAction 需拿掉
                viewsortcols: [true, 'vertical', true],
                ajaxRowOptions: { contentType: "application/json" },
                serializeRowData: function (data) {
                    return JSON.stringify(data);
                },
                loadComplete: function () {
                    jqgridCustom.updatePagerIcons($(this));
                    if(page != '1' && $('#'+listId).getRowData().length == 0)
                    {
                        $('#'+listId).setGridParam({page:1}).trigger('reloadGrid');
                    }
                    if(listId == 'list1')
                    {
                        jqgridCustom.randerAction(listId, 'D65', actfun);
                        $('.actionEditIcon').attr('title','評估');
                        if(!(AssessorFlag))
                            $('.actionDeleIcon').hide();
                        if(!(AssessorFlag))
                            $('.actionEditIcon').hide();
                        $('#' + listId + ' > tbody > tr:gt(0) ').each(function () {
                            let tr = $(this);
                            let Result_Version_Confirm_Flag = tr.find($.validator.format('td[aria-describedby$={0}_Result_Version_Confirm_Flag]', listId)).text();
                            let Extra_Case_Flag = tr.find($.validator.format('td[aria-describedby$={0}_Extra_Case]', listId)).text();
                            if(Result_Version_Confirm_Flag == 'Y')
                            {
                                tr.find('.actionEditIcon').hide();
                                tr.find('.actionDeleIcon').hide();
                            }
                            if(Extra_Case_Flag != "Y")
                            {
                               tr.find('.actionDeleIcon').hide();
                            }
                            if(Extra_Case_Flag == "D")
                            {
                                tr.find('.actionEditIcon').hide();
                            }
                        });
                    }
                    if(listId == 'list2')
                    {
                        $('#' + listId + ' > tbody > tr:gt(0) ').each(function(){
                            let tr = $(this);
                            let Reference_Nbr = tr.find($.validator.format('td[aria-describedby$={0}_Reference_Nbr]', listId)).text();
                            let Assessment_Result_Version = tr.find($.validator.format('td[aria-describedby$={0}_Assessment_Result_Version]', listId)).text();
                            let Status = tr.find($.validator.format('td[aria-describedby$={0}_Status]', listId)).text();
                            let Assessment_Sub_Kind = tr.find($.validator.format('td[aria-describedby$={0}_Assessment_Sub_Kind]', listId)).text();
                            let Version = tr.find($.validator.format('td[aria-describedby$={0}_Version]', listId)).text();
                            let ReportDate = tr.find($.validator.format('td[aria-describedby$={0}_Report_Date]', listId)).text();
                            tr.find('td').find('a.Dialog4').each(function(){
                                $(this).off('click');
                                $(this).on('click',function(){
                                    textAreaDialogOpen(
                                        $(this).attr('id'),
                                        Reference_Nbr,
                                        Version,
                                        Assessment_Result_Version,
                                        null,
                                        ReportDate);
                                }); //註冊複核者之回覆意見
                            });
                            tr.find('td').find('a.Dialog5').each(function(){
                                $(this).off('click');
                                $(this).on('click',function(){
                                    D66DialogOpen(Reference_Nbr,Assessment_Result_Version,Status);
                                });  //開啟評估結果檔
                            });
                            tr.find('input:enabled').each(function(){
                                if($(this).attr('id').indexOf('Evaluation') > -1)
                                {
                                    $(this).off('click');
                                    $(this).on('click',
                                        function () { D65EvaluationClick(Reference_Nbr, Assessment_Result_Version,Status,Assessment_Sub_Kind) });
                                }
                            }); //註冊推送評估
                        });
                    }
                    if(listId == 'list4')
                    {
                        $('#' + listId + ' > tbody > tr:gt(0) ').each(function(){
                            let tr = $(this);
                            let Reference_Nbr = tr.find($.validator.format('td[aria-describedby$={0}_Reference_Nbr]', listId)).text();
                            let Version = tr.find($.validator.format('td[aria-describedby$={0}_Version]', listId)).text();
                            let Assessment_Result_Version = tr.find($.validator.format('td[aria-describedby$={0}_Assessment_Result_Version]', listId)).text();
                            let Check_Item_Code = tr.find($.validator.format('td[aria-describedby$={0}_Check_Item_Code]', listId)).text();
                            let ReportDate = tr.find($.validator.format('td[aria-describedby$={0}_Report_Date]', listId)).text();
                            $(this).find('td').find('a.Dialog3').each(function(){
                                $(this).off('click');
                                $(this).on('click',function(){
                                    fileDialogOpen($(this).attr('name'),Reference_Nbr,Assessment_Result_Version);
                                });
                            }); //註冊指標證明文件
                            $(this).find('td').find('a.Dialog4').each(function(){
                                $(this).off('click');
                                $(this).on('click',function(){
                                    textAreaDialogOpen(
                                        $(this).attr('id'),
                                        Reference_Nbr,
                                        Version,
                                        Assessment_Result_Version,
                                        Check_Item_Code,
                                        ReportDate);
                                });//註冊評估結果說明,備註
                            });
                        });
                    }
                }
            });
            $("#" + listId).jqGrid('navGrid', '#' + pagerId, { edit: false, add: false, del: false });
        }
        //#endregion createJqgrid

        var actfun = {};
        actfun.Edit = function (i) {
            dialogOpen('@Ref.Action_Type.Edit.ToString()', i);
        }
        actfun.Dele = function (i) {
            if (!confirm("確認刪除?"))
            {
                return false;
            }
            var data = $("#list1").getRowData(i);
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    referenceNbr: data.Reference_Nbr,
                    version : data.Version
                }),
                dataType: "json",
                url: url.DelExtraCase,
                contentType: 'application/json'
            })
            .done(function (result) {
                if (result.RETURN_FLAG) {
                    customerUtility.alert(result.DESCRIPTION,'s');
                    var page = getPage('jqgridDiv');
                    clearJqgrid('jqgridDiv');
                    createJqgrid("jqgridDiv", "list1", "pager1",page);
                }
                else
                    customerUtility.alert(result.DESCRIPTION,'e');
            });
        }
        actfun.View = function (i) {
            dialogOpen('@Ref.Action_Type.View.ToString()', i);
        }

        function dialogOpen(type, rowid) {
            var title = '';
            var data = $("#list1").getRowData(rowid);
            var ASK = data.Assessment_Sub_Kind;
            $('#' + saveId + ',#' + deleteId).hide();

            if (type == '@Ref.Action_Type.Edit.ToString()') {
                if(ASK.trim() == '')
                {
                    customerUtility.alert('無評估次分類!','w');
                    return false;
                }
                $('.' + autoCreateClass).remove();
                title = ASK + '評估';
                $('#' + saveId).val('評估');
                $('#' + saveId).show();
                $("#" + AuditorId + " option").remove();
                $("#" + Assessment_StageId + " option").remove();
                $('#' + AuditorId + 'tr').show();
                $('#' + Assessment_Sub_KindId).val('');
                $('#' + Assessment_Sub_KindId).val(ASK);
                var optionObj = [];
                optionObj.push({ value: '', text: '' })
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        tableId: '@Ref.Table_Type.D65.ToString()'
                    }),
                    dataType: "json",
                    url: url.getAuditor,
                    contentType: 'application/json'
                })
                .done(function (result) {
                    if (result.RETURN_FLAG) {
                        customerUtility.addoption(AuditorId, result.Datas.Data);
                    }
                });

                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        Assessment_Kind: '@Ref.AssessmentKind_Type.Qualitative.GetDescription()',
                        Assessment_Sub_Kind: ASK
                    }),
                    dataType: "json",
                    url: url.getAssessmentStage,
                    contentType: 'application/json'
                })
                .done(function (result) {
                    var options2 = [];
                    options2.push({ value: ' ', text: ' ' })
                    if (result.RETURN_FLAG) {
                        $.each(result.Datas.Data, function (i, v) {
                            options2.push({ value: v, text: v })
                        });
                    }
                    customerUtility.addoption(Assessment_StageId, options2);
                    assessmentStageChange();
                });

                $('#' + saveId).off('click');
                $('#' + saveId).on('click', function () {
                    dialogSave(type, rowid);
                });
                $("#" + dialogId).dialog({
                    title: title,
                    position: { my: "top+20%", at: "center top", of: window },
                });
                $("#" + dialogId).dialog("open");
            }
            else if (type == '@Ref.Action_Type.View.ToString()') {
                clearJqgrid("jqgridDiv2");
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({
                        referenceNbr: data.Reference_Nbr,
                        version : data.Version
                    }),
                    url: url.history,
                    contentType: 'application/json'
                })
                .done(function (result) {
                    if (result.RETURN_FLAG) {
                        $("#" + dialogId2).dialog({
                            title: ASK +"評估版本",
                            position:  { my: "left+25% top", at: "left+10% top", of: window},
                            width : 'auto',
                            autoOpen: false,
                            resizable: true,
                            closeText: "取消",
                            modal: true
                        });
                        $("#" + dialogId2).dialog("open");
                        createJqgrid("jqgridDiv2","list2", "pager2");
                    }
                    else{
                        customerUtility.alert(result.DESCRIPTION,'w');
                    }
                });
            }
        }

        //#region save D65 & D66
        function dialogSave(action, rowid) {
            var flag = true;
            if ($('#' + AuditorId).val() == '')
            {
                flag = false;
                customerUtility.alert('請選擇複核者!','w');
                return false;
            }
            if ($('#' + Assessment_StageId).val() == '')
            {
                flag = false;
                customerUtility.alert('請選擇評估階段!','w');
                return false;
            }
            var D66s = [];
            $('.' + autoCreateClass).each(function () {
                let sel = $(this).find('select');
                if (sel.val() == '')
                {
                    flag = false;
                    customerUtility.alert((sel.attr('name') + '請選擇是否通過!'),'w');
                    return false;
                }
                D66s.push(D66ViewModel(sel.attr('name'), sel.val(), null,$('#' + Assessment_StageId).val()));
            })
            if(D66s.length == 0)
            {
                customerUtility.alert('無評等參數!','w');
                return false;
            }
            if (flag)
            {
                var data = $("#list1").getRowData(rowid);
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        Auditor: $('#' + AuditorId).val(),
                        D65Model: D65ViewModel(
                            data.Reference_Nbr,
                            data.Report_Date,
                            data.Version,
                            data.Assessment_Sub_Kind),
                        D66Model: D66s,
                        assessmentSubKind : $('#assessmentSubKind').val(),
                        bondNumber : $('#bondNumber').val(),
                        index : $('#index').val(),
                        referenceNbr : $('#referenceNbr').val()
                    }),
                    dataType: "json",
                    url: url.save,
                    contentType: 'application/json',
                })
                .done(function (result) {
                    if (result.RETURN_FLAG) {
                        var page = getPage('jqgridDiv');
                        $("#" + dialogId).dialog("close");
                        customerUtility.alert(result.DESCRIPTION,'s');
                        clearJqgrid('jqgridDiv');
                        createJqgrid("jqgridDiv", "list1", "pager1",page);
                    }
                    else {
                        customerUtility.alert(result.DESCRIPTION,'e');
                    }
                });
            }

        }
        //#endregion

        function getPage(jQgridId)
        {
            return $('#'+jQgridId).find('.ui-pg-input').val();
        }

        //#region 組合ViewModel
        function D65ViewModel(
            Reference_Nbr,
            Report_Date,
            Version,
            Assessment_Sub_Kind
        ) {
            var obj = {};
            obj['Reference_Nbr'] = Reference_Nbr;
            obj['Report_Date'] = Report_Date,
            obj['Version'] = Version;
            obj['Assessment_Sub_Kind'] = Assessment_Sub_Kind;
            return obj;
        }

        function D66ViewModel(
            Check_Item_Code,
            Pass_Value,
            Assessment_Result,
            Assessment_Stage
            ) {
            var obj = {};
            obj['Check_Item_Code'] = Check_Item_Code;
            obj['Pass_Value'] = Pass_Value;
            obj['Assessment_Result'] = Assessment_Result;
            obj['Assessment_Stage'] = Assessment_Stage;
            return obj;
        }

        //#endregion
    });
</script>