@using Transfer.Utility;
@using Transfer.Enum;
@{
    ViewBag.Menu = "A4Main";
    ViewBag.SubMenu = "A40Sub";
    ViewBag.Title = "A4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" id="main">
    <div class="row main_hand">
        <div class="col-md-12 main_hand_div">
            <form id="myForm">
                <table>
                    <tr>
                        <td style="width:600px" class="form-group">
                            <label>日期 : </label>
                            <input type="text" id="datepicker" name="datepicker">
                        </td>
                        <td style="width:500px; padding-top:8px">
                            <table>
                                <tr>
                                    <td>
                                        <label>版本 : </label>
                                    </td>
                                    <td>
                                        <div class="select-editable">
                                            <select id="versionSelect" onchange="this.nextElementSibling.value=this.value"></select>
                                            <input type="text" name="version" id="version" value="" />
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </form>
            <table>
                <tr>
                    <td style="padding-top:10px">
                        @using (Ajax.BeginForm("Upload", "A4",
new AjaxOptions { HttpMethod = "POST" },
new { enctype = "multipart/form-data", @id = "form0" }))
                        {
                        <input type="file" id="file" name="file" class="filestyle" data-buttonName="btn-primary" data-buttonText="轉檔檔案" />
                        }
                    </td>
                    <td style="padding-top:10px">
                        <input type="button" class="btn btn-primary" style="margin-right:10px" value="資料上傳" id="fileSubmit" />
                        <input type="button" class="btn btn-primary" value="轉檔" id="btnTransfer" disabled />
                    </td>
                </tr>
            </table>
            <i class="fa fa-exclamation-circle title" style="font-size:24px;"
               alt="說明：
1. 日期欄位，選擇 '基準日'。
2. 版本輸入格式，1、2、3……，依此類推，輸入版本不可重複。"></i>
        </div>
    </div>
    <div class="row main_body" style="overflow:auto;height:100%">
        <div class="col-md-12">
            <div class="viewDetail">
                <div id="jqgridDiv" class="jqd">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        //#region 共用參數
        var reportDate = '';
        var version = '';
        //#endregion 共用參數

        //#region 註冊URL
        var url = {};
        url.transfer = '@Url.Action("Transfer", "A4")';
        url.getExcelData = '@Url.Action("GetCacheData", "A4")';
        url.setReportDate = '@Url.Action("SetA41ReportDate","A4")';
        url.getReportDataVersion = '@Url.Action("GetVersion", "A4")';
        //#endregion 註冊URL

        //#region 選擇reportDate 後要觸發的動作
        var versionFun = customerUtility.getVersion('versionSelect',
            'datepicker',
            '@Ref.Transfer_Table_Type.A41.ToString()',
            url.getReportDataVersion);
        //#endregion 選擇reportDate 後要觸發的動作
        
        //#region 註冊datepicker
        created.createDatepicker('datepicker', true, '',versionFun);
        //#endregion 註冊datepicker

        //#region 註冊click事件
        $('input:button').each(function () {
            var id = $(this).attr('id');
            switch (id) {
                case 'fileSubmit':
                    $("#" + id).on('click', function () { vaildate() });
                    break;
                case 'btnTransfer':
                    $("#" + id).click(transfer);
                    break;
            }
        })
        //#endregion 註冊click事件

        //#region 驗證
        function vaildate() {
            var date = $('#datepicker').val();
            verified.datepicker("myForm", "datepicker", true, date);
            verified.required('myForm', 'version', message.required(message.version));
            verified.number('myForm', 'version');
            if ($('#myForm').valid()) {
                fileSubmitFunction();
            }
        }
        //#endregion

        //#region 資料上傳(Excel 資料寫入 local sql)
        function transfer() {
            if (verified.isDate(reportDate, true) &&
                version != '' ) {
                $.ajax({
                    type: "POST",
                    url: url.transfer,
                    data: JSON.stringify({
                        reportDate: reportDate,
                        version : version
                    }),
                    contentType: 'application/json'
                })
                .done(function (result) {
                    if (result.RETURN_FLAG)
                        customerUtility.alert(result.DESCRIPTION,'s');
                    else
                        customerUtility.alert(result.DESCRIPTION,'e');
                })
            }
            else {
                customerUtility.alert('時間or版本不符合,請重新上傳檔案!','e');
            }
        }
        //#endregion 資料上傳(Excel 資料寫入 local sql)

        //#region fileSubmitFunction (把檔案上傳到指定資料夾)
        function fileSubmitFunction() {
            var dataString;
            var action = $("#form0").attr("action");
            if ($("#form0").attr("enctype") == "multipart/form-data") {
                dataString = new FormData();
                dataString.append("UploadedFile", $("#file").get(0).files[0]);
                dataString.append("reportDate",$('#datepicker').val());
                dataString.append("version",$('#version').val());
            }
            else {
                // regular form, do your own thing if you need it
            }
            clearJqgrid();
            reportDate = $('#datepicker').val();
            version = $('#version').val();
            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.RETURN_FLAG) {
                        createJqgrid("list1", "pager1",
                            '@Ref.Excel_UploadName.A41.GetDescription()');
                        $('#btnTransfer').prop('disabled', false);
                        customerUtility.checkDialog('A41View','@Ref.Check_Table_Type.Bonds_A41_UpLoad.ToString()');
                    }
                    else {
                        customerUtility.alert(result.DESCRIPTION,'w');
                    }
                },
                error: function (result) {
                    customerUtility.alert('格式錯誤','e');
                }
            });
        }
        //#endregion fileSubmitFunction

        //#region clearJqgrid (清除JqGrid)
        function clearJqgrid() {
            $('#jqgridDiv').children().remove();
        }
        //#endregion clearJqgrid

        //#region createJqgrid (建立JqGrid套件)
        //listId (Jqgrid產生table的ID)
        //pagerId (下方產生筆數的ID)

        //title (標題)
        function createJqgrid(listId, pagerId, title) {

            $('#jqgridDiv').append('<table id="' + listId + '"></table>');
            $('#jqgridDiv').append('<div id="' + pagerId + '"></div>');
            $("#" + listId).jqGrid({
                url: url.getExcelData,
                datatype: "json",
                mtype: "POST",
                postData:
                {
                    type: "Excel",
                },
                jsonReader:
                {
                    repeatitems: false,
                },
                colNames: @Html.Raw(Json.Encode(ViewBag.jqgridColNames)),
                colModel: @Html.Raw(Json.Encode(ViewBag.jqgridColModel)),
                rowNum: 30, //一頁筆數
                rowList: [30, 50, 100], //設定一頁幾筆
                pager: '#' + pagerId,
                height: jqgridCustom.getHeight(),
                width: jqgridCustom.getwidth(),
                caption: title, //標題
                rownumbers: true, //每列編號
                rownumWidth: 40,
                shrinkToFit: false,
                viewrecords: true, //顯示總數
                contentType: "application/json",
                loadComplete: function () {
                    var table = $(this);
                    jqgridCustom.updatePagerIcons(table);
                }
            });
            $("#" + listId).jqGrid('navGrid', '#' + pagerId, { edit: false, add: false, del: false });
        }
        //#endregion createJqgrid
    });
</script>