@{
    ViewBag.Menu = "SystemMain";
    ViewBag.SubMenu = "MenuMainSub";
    ViewBag.Title = "MenuMain(選單類別)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" id="main">
    <div class="row main_hand">
        <div class="col-md-12 main_hand_div">
            <form id="myForm1">
                <table>
                    <tr>
                        <td style="white-space:nowrap;text-align:right">
                            選單類別：
                        </td>
                        <td style="white-space:nowrap">
                            <input type="text" id="Menu" name="Menu" maxlength="30">
                        </td>
                        <td style="white-space:nowrap; text-align:right">
                            選單類別ID：
                        </td>
                        <td style="white-space:nowrap;">
                            <input type="text" id="Menu_Id" name="Menu_Id" maxlength="30">
                        </td>
                    </tr>
                    <tr>
                        <td style="white-space:nowrap;text-align:right">
                            選單類別名稱：
                        </td>
                        <td style="white-space:nowrap">
                            <input type="text" id="Menu_Detail" name="Menu_Detail" maxlength="40">
                        </td>
                        <td style="white-space:nowrap; text-align:right">
                            選單類別圖示：
                        </td>
                        <td style="white-space:nowrap;">
                            <input type="text" id="Class" name="Class" maxlength="30">
                        </td>
                    </tr>
                </table>
            </form>
            <table style="margin-top:20px">
                <tr>
                    <td>
                        <input type="button" class="btn btn-primary" value="查詢" id="btnSearch" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" value="重設" id="btnReset" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" id="btnAdd" value="新增" />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row main_body" style="overflow:auto;height:100%;">
        <div class="col-md-12">
            <div class="viewDetail">
                <div id="jqgridDiv" class="jqd">
                </div>
            </div>
        </div>
    </div>

    <div id="dialogEdit" title="">
        <input type="hidden" id="actionType" value="" />
        <table style="width:100%">
            <tr>
                <td style="white-space:nowrap; text-align:right">
                    選單類別：
                </td>
                <td style="white-space:nowrap">
                    <input type="text" id="editMenu" name="editMenu" maxlength="30">
                </td>
            </tr>
            <tr id="trMenu_Id">
                <td style="white-space:nowrap; text-align:right">
                    選單類別ID：
                </td>
                <td style="white-space:nowrap">
                    <span id="spanMenu_Id"></span>
                </td>
            </tr>
            <tr>
                <td style="white-space:nowrap; text-align:right">
                    選單類別名稱：
                </td>
                <td style="white-space:nowrap">
                    <input type="text" id="editMenu_Detail" name="editMenu_Detail" maxlength="40">
                </td>
            </tr>
            <tr>
                <td style="white-space:nowrap; text-align:right">
                    選單類別圖示：
                </td>
                <td style="white-space:nowrap">
                    <input type="text" id="editClass" name="editClass" maxlength="30">
                </td>
            </tr>
            <tr id="trCreate_User">
                <td style="white-space:nowrap; text-align:right">
                    新增者帳號：
                </td>
                <td style="white-space:nowrap">
                    <span id="spanCreate_User"></span>
                </td>
            </tr>
            <tr id="trCreate_Date">
                <td style="white-space:nowrap; text-align:right">
                    新增日期：
                </td>
                <td style="white-space:nowrap">
                    <span id="spanCreate_Date"></span>
                </td>
            </tr>
            <tr id="trCreate_Time">
                <td style="white-space:nowrap; text-align:right">
                    新增時間：
                </td>
                <td style="white-space:nowrap">
                    <span id="spanCreate_Time"></span>
                </td>
            </tr>
            <tr id="trLastUpdate_User">
                <td style="white-space:nowrap; text-align:right">
                    最後修改者帳號：
                </td>
                <td style="white-space:nowrap">
                    <span id="spanLastUpdate_User"></span>
                </td>
            </tr>
            <tr id="trLastUpdate_Date">
                <td style="white-space:nowrap; text-align:right">
                    最後修改日期：
                </td>
                <td style="white-space:nowrap">
                    <span id="spanLastUpdate_Date"></span>
                </td>
            </tr>
            <tr id="trLastUpdate_Time">
                <td style="white-space:nowrap; text-align:right">
                    最後修改時間：
                </td>
                <td style="white-space:nowrap">
                    <span id="spanLastUpdate_Time"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="white-space:nowrap; text-align:center">
                    <input type="button" id="btnSave" value="儲存" />
                    &nbsp;&nbsp;
                    <input type="button" id="btnDelete" value="刪除" />
                    &nbsp;&nbsp;
                    <input type="button" id="btnClose" value="關閉視窗" />
                </td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        //#region 註冊URL
        var url = {};
        url.getAllData = '@Url.Action("GetMenuMainAllData", "System")';
        url.getDbData = '@Url.Action("GetCacheMenuMainData", "System")';
        url.getData = '@Url.Action("GetMenuMainData", "System")';
        url.saveData = '@Url.Action("SaveMenuMain", "System")';
        url.deleteData = '@Url.Action("DeleteMenuMain", "System")';
        //#endregion 註冊URL

        //#region 註冊click事件
        $('input:button').each(function () {
            var id = $(this).attr('id');
            switch (id) {
                case 'btnReset':
                    $("#" + id).on('click', function () { SearchReset(); });
                    break;
                case 'btnSearch':
                    $("#" + id).on('click', function () { SearchData(); });
                    break;
                case 'btnAdd':
                    $("#" + id).on('click', function () { AddData(); });
                    break;
                case 'btnSave':
                    $("#" + id).on('click', function () { SaveData(); });
                    break;
                case 'btnDelete':
                    $("#" + id).on('click', function () { DeleteData(); });
                    break;
                case 'btnClose':
                    $("#" + id).on('click', function () { $("#dialogEdit").dialog("close"); });
                    break;
            }
        })
        //#endregion

        //#region SearchReset
        function SearchReset() {
            $('#Menu').val("");
            $('#Menu_Id').val("");
            $('#Menu_Detail').val("");
            $('#Class').val("");
        }
        //#endregion

        //#region SearchData
        function SearchData() {
            var menu = $('#Menu').val().trim();
            var menuId = $('#Menu_Id').val().trim();
            var menuDetail = $('#Menu_Detail').val().trim();
            var imageClass = $('#Class').val().trim();

            var obj = {
                Menu: menu,
                Menu_Id: menuId,
                Menu_Detail: menuDetail,
                Class: imageClass
            };

            showJqgrid("2", obj);
        }
        //#endregion

        //#region 去controller 撈取資料並且用JqGrid套件顯示
        function showJqgrid(type, obj) {
            clearJqgrid();

            var title = '@ViewBag.Title';
            var urlString = "";

            switch (type) {
                case "1":
                    urlString = url.getAllData;
                    break;
                case "2":
                    urlString = url.getData;
                    break;
            }

            $.ajax({
                type: "POST",
                data: obj,
                url: urlString
            })
            .done(function (result) {
                if (result.RETURN_FLAG) {
                    createJqgrid("list1", "pager1", title);
                }
                else {
                    alert(result.DESCRIPTION);
                }
            });
        }
        //#endregion

        //#region clearJqgrid (清除JqGrid)
        function clearJqgrid() {
            $('#jqgridDiv').children().remove();
        }
        //#endregion clearJqgrid

        //#region createJqgrid (建立JqGrid套件)
        //listId (Jqgrid產生table的ID)
        //pagerId (下方產生筆數的ID)
        //title (標題)
        function createJqgrid(listId, pagerId, title) {
            var colModelArray = [
                                    { name: "act", index: "act", width: 100, sortable: false },
                                    { name: "Menu", index: "Menu", align: 'left' },
                                    { name: "Menu_Id", index: "Menu_Id", align: 'left' },
                                    { name: "Menu_Detail", index: "Menu_Detail"},
                                    { name: "Class", index: "Class", align: 'left' },
                                    { name: "Create_User", index: "Create_User", align: 'left' },
                                    { name: "Create_Date", index: "Create_Date", align: 'left' },
                                    { name: "Create_Time", index: "Create_Time", align: 'left' },
                                    { name: "LastUpdate_User", index: "LastUpdate_User", align: 'left' },
                                    { name: "LastUpdate_Date", index: "LastUpdate_Date", align: 'left' },
                                    { name: "LastUpdate_Time", index: "LastUpdate_Time", align: 'left' }
                                ];

            var colNameArray = [
                                   'Actions',
                                   '選單類別',
                                   '選單類別ID',
                                   '選單類別名稱',
                                   '選單類別圖示',
                                   '新增者帳號',
                                   '新增日期',
                                   '新增時間',
                                   '最後修改者帳號',
                                   '最後修改日期',
                                   '最後修改時間'
                               ];

            $('#jqgridDiv').append('<table id="' + listId + '"></table>');
            $('#jqgridDiv').append('<div id="' + pagerId + '"></div>');

            $("#" + listId).jqGrid({
                url: url.getDbData,
                datatype: "json",
                mtype: "POST",
                postData:
                {
                },
                jsonReader:
                {
                    repeatitems: false,
                },
                colModel: colModelArray,
                colNames: colNameArray,
                rowNum: 20, //一頁筆數
                rowList: [20, 40, 60], //設定一頁幾筆
                pager: '#' + pagerId,
                height: jqgridCustom.getHeight(),
                sortorder: "desc",
                caption: title, //標題
                resizable: false,
                width: jqgridCustom.getwidth(),
                shrinkToFit: false,
                viewsortcols: [true, 'vertical', true],
                viewrecords: true,
                loadComplete: function () {
                    var table = $(this);
                    jqgridCustom.updatePagerIcons(table);
                    jqgridCustom.randerAction(listId, 'GridData', actfun);
                }
            });

            $("#" + listId).jqGrid('navGrid', '#' + pagerId, { edit: false, add: false, del: false });
        }
        //#endregion createJqgrid

        //#region AddData
        function AddData() {
            SetAction("Add", null, "新增");
        }
        //#endregion

        var actfun = {};
        actfun.Edit = function(i)
        {
            SetAction("Modify", i, "修改");
        }
        actfun.View = function(i)
        {
            SetAction("View", i, "檢視");
        }
        actfun.Dele = function(i)
        {
            SetAction("Delete", i, "刪除");
        }

        //#region SetAction
        function SetAction(actionType, rowid, dialogTitle) {
            $("#actionType").val(actionType);

            $("#dialogEdit").dialog({
                title: dialogTitle,
                position: { my: "center", at: "center", of: window }
            });

            if (actionType == "Add") {
                $('#editMenu').val("");
                $('#spanMenu_Id').html("");
                $('#editMenu_Detail').val("");
                $('#editClass').val("");
                $('#spanCreate_User').html("");
                $('#spanCreate_Date').html("");
                $('#spanCreate_Time').html("");
                $('#spanLastUpdate_User').html("");
                $('#spanLastUpdate_Date').html("");
                $('#spanLastUpdate_Time').html("");

                $('#trMenu_Id').hide();
                $('#trCreate_User').hide();
                $('#trCreate_Date').hide();
                $('#trCreate_Time').hide();
                $('#trLastUpdate_User').hide();
                $('#trLastUpdate_Date').hide();
                $('#trLastUpdate_Time').hide();
            }
            else {
                var data = $("#list1").getRowData(rowid);

                $('#editMenu').val(data.Menu);
                $('#spanMenu_Id').html(data.Menu_Id);
                $('#editMenu_Detail').val(data.Menu_Detail);
                $('#editClass').val(data.Class);
                $('#spanCreate_User').html(data.Create_User);
                $('#spanCreate_Date').html(data.Create_Date);
                $('#spanCreate_Time').html(data.Create_Time);
                $('#spanLastUpdate_User').html(data.LastUpdate_User);
                $('#spanLastUpdate_Date').html(data.LastUpdate_Date);
                $('#spanLastUpdate_Time').html(data.LastUpdate_Time);

                $('#trMenu_Id').show();
                $('#trCreate_User').show();
                $('#trCreate_Date').show();
                $('#trCreate_Time').show();
                $('#trLastUpdate_User').show();
                $('#trLastUpdate_Date').show();
                $('#trLastUpdate_Time').show();
            }

            $('#editMenu').prop('disabled', true);
            $('#editMenu_Detail').prop('disabled', true);
            $('#editClass').prop('disabled', true);

            switch (actionType) {
                case "Add":
                case "Modify":
                    $('#editMenu').prop('disabled', false);
                    $('#editMenu_Detail').prop('disabled', false);
                    $('#editClass').prop('disabled', false);

                    if (actionType == "Modify") {
                        $('#editMenu').prop('disabled', true);
                    }

                    $('#btnSave').show();
                    $('#btnDelete').hide();
                    break;
                case "View":
                    $('#btnSave').hide();
                    $('#btnDelete').hide();

                    break;
                case "Delete":
                    $('#btnSave').hide();
                    $('#btnDelete').show();

                    break;
            }

            $("#dialogEdit").dialog("open");
        }
        //#endregion

        //#region 取得全部資料
        function GetAllData() {
            var obj = null;

            showJqgrid("1", obj);
        }
        //#endregion

        //#region dialogEdit
        $("#dialogEdit").dialog({
            autoOpen: false,
            resizable: true,
            height: 'auto',
            width: 'auto',
            modal: true,
            title: '',
            position: { my: "center", at: "center", of: window },
            closeText: "取消",
            resizable: true,
        });
        //#endregion

        //#region SaveData
        function SaveData() {
            var actionType = $('#actionType').val();

            var menu = $('#editMenu').val().trim();
            var menuDetail = $('#editMenu_Detail').val().trim();
            var imageClass = $('#editClass').val().trim();

            if (menu == "") {
                alert("選單類別 必填");
                return false;
            }

            if (menuDetail == "") {
                alert("選單類別名稱 必填");
                return false;
            }

            var obj = {
                Menu: menu,
                Menu_Detail: menuDetail,
                Class: imageClass
            };

            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    actionType: actionType,
                    dataModel: obj
                }),
                dataType: "json",
                url: url.saveData,
                contentType: 'application/json'
            })
            .done(function (result) {
                if (result.RETURN_FLAG) {
                    alert(result.DESCRIPTION);
                    $("#dialogEdit").dialog("close");
                    SearchReset();
                    GetAllData();
                }
                else {
                    alert(result.DESCRIPTION);
                }
            });
        }
        //#endregion

        //#region DeleteData
        function DeleteData() {
            if (confirm("確定刪除？\n(與此項目相關的 選單明細、選單設定、使用者紀綠，也會一併刪除。)")) {
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        menu: $('#editMenu').val()
                    }),
                    dataType: "json",
                    url: url.deleteData,
                    contentType: 'application/json'
                })
                .done(function (result) {
                    if (result.RETURN_FLAG) {
                        alert(result.DESCRIPTION);
                        $("#dialogEdit").dialog("close");
                        SearchReset();
                        GetAllData();
                    }
                    else {
                        alert(result.DESCRIPTION);
                    }
                });
            }
        }
        //#endregion
    });
</script>