<!DOCTYPE html>
<html  style="height:100%">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    @*<meta http-equiv="cache"/>*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IFRS9 應用程式</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/light.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryjqgrid")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
</head>
<body  style="height:100%">
    <div class="nav-side-menu">
        <div class="brand">IFRS9</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li id="HomeMain" class="HomeMenu">
                    <a class="menu-a" href='@Url.Action("Index", "SystemForIT", null)'>
                        <i class="fa fa-home fa-lg"></i>
                        首頁
                    </a>
                </li>
                <li class="HomeMenu">
                    <i class='fa fa-list-ul fa-lg'></i>
                    <a class="menu-a" href='@Url.Action("TaskSchedule", "SystemForIT")'>排程重啟</a>
                </li>
                <li class="HomeMenu">
                    <i class='fa fa-list-ul fa-lg'></i>
                    <a class="menu-a" href='@Url.Action("SetAccount", "SystemForIT")'>設定 Account</a>
                </li>
                <li class="HomeMenu">
                    <i class='fa fa-list-ul fa-lg'></i>
                    <a class="menu-a" href='@Url.Action("MenuMain", "SystemForIT")'>選單類別維護</a>
                </li>
                <li class="HomeMenu">
                    <i class='fa fa-list-ul fa-lg'></i>
                    <a class="menu-a" href='@Url.Action("MenuSub", "SystemForIT")'>選單明細維護</a>
                </li>
                <li class="HomeMenu">
                    <i class='fa fa-list-ul fa-lg'></i>
                    <a class="menu-a" href='@Url.Action("SetMenu", "SystemForIT")'>設定 Menu</a>
                </li>
                <li class="HomeMenu">
                    <i class='fa fa-list-ul fa-lg'></i>
                    <a class="menu-a" href='@Url.Action("SetAssessment", "SystemForIT")'>設定 Assessment</a>
                </li>
                <li class="HomeMenu">
                    <i class='fa fa-list-ul fa-lg'></i>
                    <a class="menu-a" href='@Url.Action("AccountLog", "SystemForIT")'>使用者紀錄</a>
                </li>
                <li id="UserMain" data-toggle="collapse" data-target="#User" class="collapsed">
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i> IT 管理員
                        <span class="arrow"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="IFRS9CheckDialog"></div>
    @RenderBody()
    @Scripts.Render("~/bundles/Customer") @*客製化相關的 js*@
    @Scripts.Render("~/bundles/Sidebar") @*menu 換頁的 js*@
    <script>
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>